*{box-sizing: border-box;-webkit-font-smoothing: antialiased;}
a,
a:hover, a:focus { text-decoration: none; outline: none; }
a img   { border: none; outline: none; }
input   { outline: none; }
img{max-width: 100%;}
*{hyphens: none !important;}
figure{margin: 0;}
strong{font-family: 'ToyotaText-Bold';}
h1, h2, h3, h4, h5, h6{
	font-family: 'ToyotaText-Bold';
}
.hidden-xs{
	display: block !important;
}
.hidden-lg,
.hidden-xl{
	display: none !important;
}

body {	
	font-family: 'Toyota-Text-Regular';
    font-size: 16px;    
	-webkit-font-smoothing: antialiased;
}
.btn-yokomotor-arrow{
	background: $color-red-toyota url('../img/background/icon-btn-arrow.svg') no-repeat 83% center;	
	border-radius: 25px;
	color: #fff;
	padding: 7px 45px 5px 25px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.2s  ease-in-out;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}
.btn-clear{
	background: $color-red-toyota url('../img/background/btn-clear.png') no-repeat 12px center;	
	border-radius: 25px;
	color: #fff;
	padding: 10px 20px 8px 35px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.2s  ease-in-out;
	font-size: 12px;
	margin-top: 20px;
	background-size: 15px;
	border: 0;
	float: right;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}
.btn-aplicar{
	background: $color-red-toyota;	
	border-radius: 25px;
	border: 0;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	margin-top: 20px;
	padding: 10px 25px 8px 25px;
	text-transform: uppercase;
	transition: all 0.2s  ease-in-out;
	vertical-align: top;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}
.btn-yokomotor-light{
	background: #fff url('../img/background/icon-btn-arrow-red.svg') no-repeat 80% center;	
	border-radius: 25px;
	color: #4B4B4B;
	padding: 5px 45px 5px 20px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.2s  ease-in-out;
	font-family: 'ToyotaText-Bold';
	&:hover{
		color: #4B4B4B;
		text-decoration: none;
	}
}


.btn-arrow-light{
	background: #fff url('../img/background/right-arrow-red.svg') no-repeat right center;	
	border-radius: 20px;
	color: #212529;
	padding: 5px 35px 5px 20px;	
	display: inline-block;
	vertical-align: top;
	transition: all 0.2s  ease-in-out;
	font-family: 'ToyotaText-Bold';
	&:hover{
		color: #4B4B4B;
		text-decoration: none;
	}
}
.btn-yokomotor{
	background-color: $color-red-toyota !important;
	display: inline-block;
	vertical-align: top;
	border-radius: 25px;
	color: #fff;
	padding: 7px 30px;
	transition: all 0.3s  ease-in-out;
	font-family: 'ToyotaText-Bold';
	border: 1px solid $color-red-toyota;
	&.transparent{
		background-color: transparent !important;
		border-color: #fff;
		&:hover{
			background-color: transparent !important;
			border-color: #fff;
			color: #fff;
		}
	}
	&:hover{
		background-color: #fff !important;
		border: 1px solid $color-red-toyota;
		color: $color-red-toyota;
		text-decoration: none;
	}
	&.icon-whatsapp{
		background: url('../img/background/whatsapp.svg') no-repeat  15px center;
		background-size: 28px !important;
		padding-left: 55px !important;
		&:hover{
			background: url('../img/background/whatsapp-red.svg') no-repeat  15px center;
		}
	}
}

.btn-calificar{	
	background: $color-red-toyota url('../img/background/icon-star.png') no-repeat 20px center;
	background-size: 20px;
	display: inline-block;
	vertical-align: top;
	border-radius: 25px;
	color: #fff;	
	padding: 7px 40px 7px 55px;
	transition: all 0.3s  ease-in-out;
	font-family: 'ToyotaText-Bold';
	border: 1px solid $color-red-toyota;
	&:hover{
		background: #fff url('../img/background/icon-star-red.png') no-repeat 20px center;
		background-size: 20px;
		border: 1px solid $color-red-toyota;
		color: $color-red-toyota;
		text-decoration: none;
	}	
}

.checked-style{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	label{
		margin: 0;
		padding-left: 30px;
		a{
			color: #2C2A28;
			text-decoration: underline;
		}
	}
	.check-label{
		width: 18px;
		height: 18px;
		display: block;
		float: left;		
		margin-top: 5px;
		cursor: pointer;
		margin-right: 10px;
		margin-left: -28px;
	}
	input[type="radio"], input[type="checkbox"] {
		display:none;
		+ .wpcf7-list-item-label .check-label{
			background: url('../img/background/checkbox-white.svg') no-repeat center center;
			background-size: 18px;   
		}
	}


	// Activo
	input[type="radio"]:checked + .wpcf7-list-item-label .check-label,
	input[type="checkbox"]:checked + .wpcf7-list-item-label .check-label{
		background:url('../img/background/checkbox-active.svg') no-repeat center center;
		background-size: 18px;
	}
	&.checked-red{
		input[type="radio"], input[type="checkbox"] {
			display:none;
			+ .wpcf7-list-item-label .check-label{
				background: url('../img/background/checkbox-red.svg') no-repeat center center;
				background-size: 18px;   
			}
		}

	
		// Activo
		input[type="radio"]:checked + .wpcf7-list-item-label .check-label,
		input[type="checkbox"]:checked + .wpcf7-list-item-label .check-label{
			background:url('../img/background/checkbox-active.svg') no-repeat center center;
			background-size: 18px;
		}
	}
}
.animation-caption {
    transition: opacity .5s cubic-bezier(0,0,.2,1),-webkit-transform .5s cubic-bezier(0,0,.2,1);
    transition: transform .5s cubic-bezier(0,0,.2,1),opacity .5s cubic-bezier(0,0,.2,1);
    transition: transform .5s cubic-bezier(0,0,.2,1),opacity .5s cubic-bezier(0,0,.2,1),
    -webkit-transform .5s cubic-bezier(0,0,.2,1);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
}
.animation-car {
    transition: opacity .5s cubic-bezier(0,0,.2,1),-webkit-transform .5s cubic-bezier(0,0,.2,1);
    transition: transform .5s cubic-bezier(0,0,.2,1),opacity .5s cubic-bezier(0,0,.2,1);
    transition: transform .5s cubic-bezier(0,0,.2,1),opacity .5s cubic-bezier(0,0,.2,1),
    -webkit-transform .5s cubic-bezier(0,0,.2,1);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0
}

.swiper-pagination{
	z-index: 2 !important;
}
.center-vertical{
	align-items: center;
}

.flex-lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 15px;
    @media (max-width: 660px){
    	padding: 0 0;
    }
}
.modal-backdrop{
	background-color: #000;
    opacity: 0.6;
    &.show{
    	opacity: 0.6;
    }
}

ul.parsley-errors-list{
	list-style: none;
    padding: 0px;
    color: #ff0000;
}
.btn-produc-boutique{
	margin-bottom: 0 !important;
	margin-top: 8px !important;
}
.page-id-170{
	.banner-general {
		figure img{
			max-height: inherit;
    		min-height: auto;
		}
	}
}

.disable-input{
	pointer-events: none;
    opacity: 0.8;
}
#iframe-facturas{
	width: 100%;
    border: 0;
    height: 600px;
    text-align: center;
}
.clear-fix {
    &::after {
        content: "";
        clear: both;
        width: 100%;
        display: block;
    }
}
.mb-none		{ margin-bottom: 0;}
.padding-none   { padding-left: 0; padding-right: 0;}
.text-center	{ text-align: center;}
.full			{ clear: both; width: 100%; }
.pl-none		{ padding-left: 0; }
.pr-none		{ padding-right: 0; }
.plr-none		{ padding-left: 0;padding-right: 0; }
.clr            { clear: both; float: none; }
.center         { margin: auto; }
.inline         { display: inline-block; vertical-align: top; }
.inline-bottom  { display: inline-block; vertical-align: bottom; }
.left           { float: left; }
.right          { float: right; }
.relative		{ position: relative; }
.wrapper-main   { max-width: 1100px; }
.wrapper-main-lg{ max-width: 1230px; }
.wrapper-main-md{ max-width: 1000px; }
.wrapper-main-sm{ max-width: 850px; }

.yaris, .corolla, .rav4, .rav4-hybrid, .corolla-cross, .yaris-cross, .fortuner, .fj-cruiser, .fourrunner, .prado-sumo, .prado-5p, .land-cruiser-300, .land-cruiser, .hilux, .nueva-hilux{
	display: none !important;
}
/*END Default styles*/