/* ------------------------------Ipad Horizontal---------------------------- */
@media handheld, only screen and (min-width: 768px) and (max-width: 1024px){
	.wrapper-main{
		padding-left: 15px;
		padding-right: 15px;
	}
	.row-card-5 .col-cards{
		max-width: 25%;
	}
	.bar-principal nav ul > li{
		margin-right: 15px;
	}
	.col-nosotros, .col-sedes, .col-suscribete{
		margin-right: 40px;
	}
	
}

/* ------------------------------Ipad Vertical---------------------------- */
@media handheld, only screen and (min-width: 768px) and (max-width: 1023px) {
	#nav-icon{display: block !important;}
	.wrapper-main{
		padding-left: 15px;
		padding-right: 15px;
	}
	.row-card-5 .col-cards{
		max-width: 33.333%;
	}
	.bar-principal nav{
		width: 100%;
		margin-top: 15px;
	}
	.col-nosotros, .col-sedes, .col-suscribete{
		margin-right: 30px;
	}
	.col-sedes {
	    max-width: 240px;
	    min-width: 240px;
	}
	.col-mapa {	    
	    max-width: 100%;
	    width: 100%;
	    text-align: center;
	}
	 
}

/* ---------------------------- 320px-640px -------------------------- */
@media handheld, only screen and (max-width: 667px) {
	#nav-icon{display: block !important;}
	.row-xs{
		margin-left: 0;
		margin-right: 0;
	}
	.hidden-xs{
		display: none !important;
	}
	.hidden-lg{
		display: block !important;
	}
	.pt-2-xs{padding-top: 20px !important;}
	.pt-3-xs{padding-top: 30px !important;}
	.pb-2-xs{padding-bottom: 20px !important;}
	.pb-3-xs{padding-bottom: 30px !important;}
	.py-3-xs{padding-top: 30px !important; padding-bottom: 30px !important;}

	footer{
		padding: 30px 15px 0 15px;
		h2{
			text-align: center;
			margin: 0 0 20px 0;
		}
		article{
			width: 100%;
			max-width: 100%;
			margin: 0 auto !important;
		}
		h6{
			a{
				padding: 0;
			    margin-top: 10px;
			    display: inline-block;
			}
		}
	}
	.col-nosotros, .col-sedes,
	.col-suscribete{
		text-align: center;
	    border-bottom: 1px solid #fff;
	    padding-bottom: 20px;
	    margin-bottom: 20px !important;
	}	
	article.col-nosotros{
		border-top: 1px solid #fff;
    	padding-top: 20px;
	}
	
}
.dl-menu.dl-menuopen{
	max-height: 400px;
	overflow-y: scroll;
}

/* ---------------------------- < 320px- -------------------------- */
@media handheld, only screen and (min-width: 300px) and (max-width: 426px) {
	.yaris, .corolla, .rav4, .rav4-hybrid, .corolla-cross, .yaris-cross, .fortuner, .fj-cruiser, .fourrunner, .prado-sumo, .prado-5p, .land-cruiser-300, .land-cruiser, .hilux, .nueva-hilux{
		display: block !important;
		padding-left: 10px !important;
	}
}