.main-blog{
	padding: 40px 0 60px 0;
	text-align: center;
	h1{
		text-align: center;
		font-size: 42px;
		margin: 0 0 40px 0;
		color: #000000;
	}
	@media (max-width: 660px){
		padding: 20px 0 30px 0;
		h1{
			margin-bottom: 20px;
			font-size: 37px;			
		}
	}
}
.leyeng-blog{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 30px 15px;
	margin: 0 0 40px 0;
	overflow: hidden;
	text-align: center;
	p{
		margin: 0;
	}
}

.titles-tags{
	list-style: none;
	padding: 0;
	margin: 0 0 50px 0;
	overflow: hidden;
	li{
		display: inline-block;
		vertical-align: top;		
		margin: 0 45px;
		position: relative;
		font-family: 'ToyotaText-Bold';
		a{
			margin: 0;
		    display: inline-block;
		    vertical-align: top;
		    color: #4B4B4B;
		    font-size: 20px;
		    position: relative;
		    padding: 0 0 10px 0;
		    cursor: pointer;
		    &:after, &:before{
		    	background-color: #D6D6D6;
			    width: 100%;
			    margin: 0 auto;
			    display: block;
			    height: 4px;
			    position: absolute;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    content: "";
			    bottom: 0;
		    }
		    &:before{
		    	background-color: $color-red-toyota;
			    width: 0;
			    transition: all 0.3s ease;
			    z-index: 1;
		    }
		}
		&.active, &.ui-state-active, &:hover{
			a{
				color: #000;
    			
    			&:before{
    				width: 100%;
    			}
			}
		}
		@media (max-width: 660px){
			margin: 0 10px;
		}
	}
}

.banner-blog{
	overflow: hidden;
	margin: 0 auto 50px;
	figure{
		display: block;
		img{
			width: 100%;
			max-height: 400px;
			object-fit: cover;
			min-height: 200px;
		}
	}
	@media (max-width: 660px){
		margin-bottom: 30px;
	}
}

.main-blog-detalle{
	padding: 0 0 50px 0;
	h1{
		text-align: center;
		font-size: 40px;
		margin: 0 0 10px 0;
		padding: 0 15px;
		color: #000000;
		text-transform: uppercase;
	}
	h6{
		color: $color-red-toyota;
		text-transform: uppercase;
		font-size: 16px;
		text-align: center;
		margin-bottom: 30px;
	}
	@media (max-width: 660px){
		h1{
			font-size: 30px;			
		}
	}

}
.the_content-blog{
	color: #4B4B4B;
	text-align: left;
	h2{
		font-size: 26px;
		margin: 0 0 15px 0;
	}
	p{
		span{
			color: $color-red-toyota;
		}
	}
	img{
		border: 0;
		display: inline-block;
		vertical-align: top;
		margin: 20px 0 30px 0;
		border-radius: 5px;
	}
	hr{
		display: inline-block;
		vertical-align: top;
		margin: 30px 0 0 0;
		width: 100%;
	}
	@media (max-width: 660px){
		padding: 0 15px;		
		hr{
			display: none;
		}
		img{
			min-height: 150px;
			object-fit: cover;
			width: auto;
			height: auto;
		}
	}
}