.leyeng-cotizador{
	color: #4B4B4B;
    font-size: 16px;
    margin: 0 0 25px 0;
    padding: 30px 15px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    h2{
    	font-size: 25px;
	    display: block;
	    margin: 0 0 10px 0;
	    text-transform: uppercase;
	    color: #000;
    }
    p{
    	margin: 0;
    }
    @media (max-width: 660px){
		h2, h3, p{
			br{display: none;}
		}
	}
}

.div-none{
	display: none;
}

input[type=submit]:disabled,
button:disabled  {
    opacity: 0.6;
}
.step-cotizador{
	width: 100%;
	clear: both;
	display: block;
	text-align: center;
	margin: 0 auto 50px;
	border-bottom: 1px solid #e7e7e7;
	padding: 0 0 25px 0;
	list-style: none;
	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		font-family: 'ToyotaText-Bold';
		a{
			width: 40px;
			height: 40px;
			cursor: default;
			background: #ddd;
			text-align: center;
			font-size: 16px;
			border-radius: 50%;
			display: block;
			color: #4B4B4B;
			line-height: 40px;
			&:focus, &:hover{
				outline: none;
			}
		}
		&.active, &.current,  &.ui-tabs-active{
			a{
				background: $color-red-toyota;
				color: #fff;
			}
		}
		&:first-child{
			margin-left: 0;
		}
	}
	@media (max-width: 660px){
		padding-left: 15px;
	}
}
.main-cotizador{
	h1{
		color: #000;
		font-size: 30px;
		padding: 0 15px;
		@media (max-width: 660px){
			font-size: 25px;
		}
	}
	.main-form-fieldset {
		margin-bottom: 20px;
		legend{
			text-transform: inherit;
			font-size: 15px;
		}
	}
	.title-step-2{
		font-size: 28px;
	    display: block;
	    margin: 0 0 40px 0;
	    text-transform: uppercase;
	    border-bottom: 1px solid #e7e7e7;
	    padding-bottom: 40px;
	}	
}

.card-cotizador{
	display: block;
	clear: both;
	padding-top: 40px;
	max-width: 700px;
	margin: 0 auto 30px;
	h4{
		display: block;
		width: 100%;
		font-size: 22px;
		margin: 0 0 30px 0;
		span{
			color: $color-red-toyota;
			font-size: 30px;
		}
	}
}

#tabs-cotizador{
	display: none;
}

.title-tabs-cotizador{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		text-align: center;
		font-family: 'ToyotaText-Bold';
		font-size: 18px;
		float: left;
		width: 50%;
		a{
			display: block;
			padding: 10px 20px;
			background: #efefef;
			color: #4B4B4B;
		}
		&.ui-state-active{
			a{
				background: #000;
				color: #fff;
				cursor: default;
			}
		}
		@media (max-width: 660px){
			font-size: 14px;
			a{
				padding: 12px 5px;
			}
		}
	}
}
.wrap-tabs-cotizador{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);	
	border-radius: 0 0 10px 10px;
	display: block;
	@media (max-width: 660px){
		max-width: 92%;
    	margin: 0 auto;
	}
}
.content-tabs-cotizador{
	display: block;
	clear: both;
	padding: 40px 0 0 0;
	overflow: hidden;
	h2{
		color: #000;
    	font-size: 20px;
    	margin: 0 0 40px 0;
	}
}
.col-cuota{
	float: left;
	width: 50%;
	padding: 20px 30px;
	margin-top: -20px;	
	h5{
		font-size: 16px;
		margin: 0 0 5px 0;
	}
	h6{
		font-size: 30px;
		color: $color-red-toyota;
		margin: 0;	
	}
	&.cuota-mensual{
		border-right: 1px solid #e3e3e3;
		@media (max-width: 660px){
			border-right: 0;
			border-bottom: 1px solid #e3e3e3;
			margin-bottom: 30px;
		}
	}
	@media (max-width: 660px){
		width: 100%;
	}
}
.content-range{
	display: block;
    padding: 0 50px;
    margin: 0 auto 20px;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
	h3{
		float: left;
	    width: auto;
	    font-size: 18px;
	    margin: 0 0 15px 0;
	}
	h4{
		float: right;
	    width: auto;
	    font-size: 18px;
	    margin: 0 0 15px 0;
	}
	h5{
		color: #4b4b4b;
		font-size: 16px;
		margin: 0 0 10px 0;
		float: left;
		line-height: 28px;
	}
	h6{
		float: right;
		font-size: 22px;
		color: $color-red-toyota;
		margin: 0 0 10px 0;
	}
	@media (max-width: 660px){
		padding: 0 15px;
	}
}
#plan-tradicional{
	.col-cuota{
		width: 100%;
		border-right: 0;
		&.cuota-mensual{
			@media (max-width: 660px){
				margin-bottom: 0;
			}				
		}
	}
}

.volver-step{
	background: #fff url('../img/background/icon-right-black.svg') no-repeat 13px center;
	background-size: 15px;
    float: left;
    vertical-align: top;
    border-radius: 25px;
    color: #000;
    padding: 7px 20px 7px 40px;
    transition: all 0.3s ease;
    font-family: 'ToyotaText-Bold';
    border: 1px solid #000;
    font-size: 16px;
    text-align: left;
    margin: 0 0 25px 73px;
    &:hover{
    	color: #000;
    }
    @media (max-width: 660px){
    	margin-left: 15px;
    }
}