@font-face {
    font-family: 'ToyotaDisplay-Heavy';
    src: url('./fonts/ToyotaDisplay-Heavy.eot');
    src: url('./fonts/ToyotaDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ToyotaDisplay-Heavy.woff') format('woff'),
        url('./fonts/ToyotaDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Toyota-Text-Regular';
    src: url('./fonts/ToyotaText-Regular.eot');
    src: url('./fonts/ToyotaText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ToyotaText-Regular.woff') format('woff'),
        url('./fonts/ToyotaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Toyota-Display-Bold';
    src: url('./fonts/ToyotaDisplay-Bold.eot');
    src: url('./fonts/ToyotaDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ToyotaDisplay-Bold.woff') format('woff'),
        url('./fonts/ToyotaDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Toyota-BoldItalic';
    src: url('./fonts/ToyotaText-BoldItalic.eot');
    src: url('./fonts/ToyotaText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ToyotaText-BoldItalic.woff') format('woff'),
        url('./fonts/ToyotaText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ToyotaText-Bold';
    src: url('./fonts/ToyotaText-Bold.eot');
    src: url('./fonts/ToyotaText-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ToyotaText-Bold.woff') format('woff'),
        url('./fonts/ToyotaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

