footer{
	background: #000;
	color: #fff;
	padding: 40px 0 0 0;
	h2{
		color: $color-red-toyota;
		font-size: 20px;
		margin: 0 0 25px 0;
		a{
			color: $color-red-toyota;
		}
	}
	h4{
		color: $color-red-toyota;
	    font-size: 20px;
	    margin: 0 0 15px 0;
	    border-bottom: 1px solid #fff;
    	padding-bottom: 15px;
	    a{
	    	color: $color-red-toyota;
	    	&:hover{
	    		color: #fff;
	    		text-decoration: none;
	    	}
	    }
	    @media (max-width: 660px){
	    	text-align: center;
	    	br{display: none;}
	    }
	}
	h6{
		text-align: center;
		font-size: 13px;
		font-family: 'Toyota-Text-Regular';
		margin: 0;
		padding: 30px 0 20px 0;
		a{
			margin-left: 12px;
			display: inline-block;
			vertical-align: top;
			max-width: 80px;
		}
		@media (max-width: 660px){
			padding-top: 0;
		}
	}
	article{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		max-width: 290px;
	}
	.redes{
		margin-top: 10px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 30px;
		ul{
			li{
				&.icon-fb{
					a{
						background: url('../img/background/facebook-white.svg') no-repeat center center;
					}
				}
				&.icon-tw{
					a{
						background: url('../img/background/twitter-white.svg') no-repeat center center;
					}
				}
				&.icon-it{
					a{
						background: url('../img/background/instagram-white.svg') no-repeat center center;
					}
				}
				&.icon-yt{
					a{
						background: url('../img/background/youtube-white.svg') no-repeat center center;
					}
				}
			}
		}
		@media (max-width: 660px){
			margin-top: 15px;
		}
	}

	.wpcf7 form.invalid .wpcf7-response-output, 
	.wpcf7 form.unaccepted .wpcf7-response-output, 
	.wpcf7 form.payment-required .wpcf7-response-output{
		border-color: transparent;
		padding: 0;
    	margin: -22px 0 0 0;
    	color: $color-red-toyota;
    	font-size: 12px;
    	text-align: center;
	}
}
.col-nosotros{	
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			color: #fff;
			font-size: 16px;
			margin: 0 0 4px 0;	
			a{
				color: #fff;
				transition: all 0.2s ease;  
			}
			&:hover{
				a{
					color: $color-red-toyota;
				}
			}
		}
	}
}
.col-sedes{	
	max-width: 250px;
	min-width: 250px;
	.content-accordion{
		padding-bottom: 17px;
	}
	@media (max-width: 660px){
		max-width: 100%;
	}
}
.sedes-tabs{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			color: #fff;
			float: left;
			font-family: 'ToyotaText-Bold';			
			margin-right: 25px;
			position: relative;
			a{
				color: #fff;
				display: block;
				text-decoration: none;
			}
			&:after, &:before{
				width: 100%;
				background: #989898;
				height: 3px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -8px;
				content: "";
				display: block;
				margin: 0 auto;
				transition: all 0.4s ease;
			}
			&:after{
				background: $color-red-toyota;
				width: 0;
			}
			&.ui-state-active{
				&:after{
					width: 100%;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
		@media (max-width: 660px){
			display: inline-block;
    		vertical-align: top;
		    li{

				margin-right: 105px;
		    }

		}
	}
}

.sedes-accordion{
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	width: 100%;
	h3{		
		background: url('../img/background/down-arrow-red.svg') no-repeat right center;
		background-size: 14px;
		font-family: 'Toyota-Display-Bold';
		font-size: 16px;
		padding: 10px 0;
		margin: 0 0 14px 0;
		border-bottom: 1px solid #7d7d7d;
		width: 100%;
		cursor: pointer;
		transition: all 0.3s ease;
		&:focus{
			outline: none;
		}
		&:hover{
			color: $color-red-toyota;
			border-bottom: 1px solid $color-red-toyota;
		}
	}
}
.col-mapa{
	min-width: 200px;
	max-width: 234px;
	@media (max-width: 660px){
		text-align: center;
		max-width: 100%;
	}
}
.col-suscribete{
	.cont-input{
		margin-bottom: 15px;
	}
	input[type="text"],
	input[type="email"]{
		border: 1px solid #fff;
		border-radius: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		background-color: transparent !important;
		height: 35px;
		padding: 0 20px 0 47px;
		color: #fff;
		font-size: 15px;
		&.icon-usuario{
			background: url('../img/background/icon-usuario.svg') no-repeat 13px center;
			background-size: 16px;
		}
		&.icon-email{
			background: url('../img/background/icon-email.svg') no-repeat 10px center;
			background-size: 22px;
		}
	}
	input[type="submit"],
	[type=button], button{
	    background: $color-red-toyota;
	    display: block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #fff;
	    padding: 10px 30px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 1px solid $color-red-toyota;
	    font-size: 14px;
			margin: 0 auto 10px auto;
	    &:hover{
	    	background: #fff;
	    	color: $color-red-toyota;
	    	transition: all 0.4s ease;
	    }
	}
	::-webkit-input-placeholder {
	  	color: #fff !important;
	}
	:-ms-input-placeholder {
	  	color: #fff !important;
	}
	::placeholder {
	  	color: #fff !important;
	}
	label{
		color: #fff;
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 30px;
		padding-left: 15px;
		text-align: left;
		a{
			color: #fff;
			transition: all 0.3s;
			&:hover{
				color: $color-red-toyota;
			}
		}
		.wpcf7-list-item{
			margin: 0px;
		}
		label{
			margin-bottom: 0;
		}
	}
}

.col-terms{
	text-align: center;
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
	padding: 10px 0;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		li{
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			padding: 0 8px;
			border-right: 1px solid;
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:last-child{
				padding-right: 0;
				border: 0;
			}
		}
	}
	@media (max-width: 660px){
		margin-top: 28px;		
	}
}

.col-nosotros,
.col-sedes,
.col-suscribete{
	margin-right: 70px;
}

.share-icon-yokomotor{
	position: fixed;
	right: 30px;
	bottom: 100px;
	max-width: 60px;
	z-index: 11;	
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		visibility: hidden;    
		opacity: 0;
		position: relative;
    	z-index: 12;
    	transition: all 0.5s;    	
    	height: 1px;
    	bottom: -30px;
    	right: -5px;
		li{
			position: relative;
			display: block;
			margin-bottom: 15px;
			img{
				max-width: 25px;
				margin: 0 auto;
				display: block;
			}
			a{
				background-color: #2E2A25;
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				text-align: center;
				display: flex;
			    align-items: center;
			    justify-content: center;
			    transition: all 0.3s ease;
			}			
			span{			
				    background-color: #2E2A25;
				    position: absolute;
				    left: -130px;
				    top: 0;
				    color: #fff;
				    font-size: 13px;
				    width: 110px;
				    height: 40px;
				    text-align: center;
				    border-radius: 20px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
			}
			i{
				background-size: 24px !important;
				width: 40px;
			    height: 40px;
			    display: block;
			}
			&:hover{
				> ul.sub-menu{
					display: block;
				}
				a{
					background-color: $color-red-toyota;
				}
			}
			&.icon-ws{
				i{
					background: url('../img/background/whatsapp.svg') no-repeat center center;
				}
			}
			&.icon-ct{
				i{
					background: url('../img/background/taller.svg') no-repeat center center;
				}
			}
			&.icon-td{
				i{
					background: url('../img/background/steering-wheel.svg') no-repeat center center;
				}
			}
		}
	}
	&.open-icons{
		ul{
			height: auto;
		    visibility: visible;
		    opacity: 1;
		    transition: all 0.5s;
		    bottom: 0;
		}
	}
	@media (max-width: 660px){
		right: 10px;
		bottom: 55px;
	}

	ul.sub-menu {
		position: absolute;
		left: -280px;	   
		width: 150px;
		top: -10px;
		border-right: 15px solid transparent;
		transition: all 0.5s;
		bottom: auto;
		display: none;
			li{
			margin-bottom: 0;
			border-bottom: 1px solid #fff;
			width: 100%;
			clear: both;
			span{
				width: 100%;
				height: auto;
				border-radius: 0;
				left: 0;
				top: 0;
				position: relative;
				display: block;
				padding: 7px 0;
				line-height: 18px;
			}
			i{
				display: none !important;
			}

			a{
				width: 100%;
				height: auto;
			}
			&:last-child{
				border-bottom: 0;
			}
			&:hover{
				> a{
					color: $color-red-toyota;
				}
				> a > span{
					color: $color-red-toyota;
				}
			}

		}
	}
	.icon-ct{
		> ul.sub-menu {
			position: absolute;
			left: -280px;	   
			width: 150px;
			top: -10px;
			border-right: 15px solid transparent;
			transition: all 0.5s;
			bottom: auto;
			display: none;
				> li.menu-item-has-children{
				margin-bottom: 0;
				border-bottom: 1px solid #fff;
				width: 100%;
				clear: both;
				> span{
					width: 100%;
					height: auto;
					border-radius: 0;
					left: 0;
					top: 0;
					position: relative;
					display: block;
					padding: 7px 0;
					line-height: 18px;
				}
				i{
					display: none !important;
				}

				a{
					width: 100%;
					height: auto;
				}
				&:last-child{
					border-bottom: 0;
				}
				&:hover{
					> ul.sub-menu{
						display: block;
					}
					> a{
						color: $color-red-toyota;
					}
					> a > span{
						color: $color-red-toyota;
					}
				}

				> ul.sub-menu {
					position: absolute;
					left: -140px;	   
					width: 150px;
					top: -15px;
					border-right: 15px solid transparent;
					transition: all 0.5s;
					bottom: auto;
					display: none;
						> li{
						margin-bottom: 0;
						border-bottom: 1px solid #fff;
						width: 100%;
						clear: both;
						> span{
							width: 100%;
							height: auto;
							border-radius: 0;
							left: 0;
							top: 0;
							position: relative;
							display: block;
							padding: 7px 0;
							line-height: 18px;
						}
						i{
							display: none !important;
						}
		
						a{
							width: 100%;
							height: auto;
						}
						&:last-child{
							border-bottom: 0;
						}
						&:hover{
							> a{
								color: $color-red-toyota;
							}
							> a span{
								color: $color-red-toyota;
							}
						}
		
					}
				}

			}
			
		}
	}
	.icon-ws{
		> ul.sub-menu {
			position: absolute;
			left: -280px;	   
			width: 150px;
			top: -10px;
			border-right: 15px solid transparent;
			transition: all 0.5s;
			bottom: auto;
			display: none;
				> li.menu-item-has-children{
				margin-bottom: 0;
				border-bottom: 1px solid #fff;
				width: 100%;
				clear: both;
				> span{
					width: 100%;
					height: auto;
					border-radius: 0;
					left: 0;
					top: 0;
					position: relative;
					display: block;
					padding: 7px 0;
					line-height: 18px;
				}
				i{
					display: none !important;
				}

				a{
					width: 100%;
					height: auto;
				}
				&:last-child{
					border-bottom: 0;
				}
				&:hover{
					> ul.sub-menu{
						display: block;
					}
					> a{
						color: $color-red-toyota;
					}
					> a > span{
						color: $color-red-toyota;
					}
				}

				> ul.sub-menu {
					position: absolute;
					left: -140px;	   
					width: 150px;
					top: -15px;
					border-right: 15px solid transparent;
					transition: all 0.5s;
					bottom: auto;
					display: none;
						> li{
						margin-bottom: 0;
						border-bottom: 1px solid #fff;
						width: 100%;
						clear: both;
						> span{
							width: 100%;
							height: auto;
							border-radius: 0;
							left: 0;
							top: 0;
							position: relative;
							display: block;
							padding: 7px 0;
							line-height: 18px;
						}
						i{
							display: none !important;
						}
		
						a{
							width: 100%;
							height: auto;
						}
						&:last-child{
							border-bottom: 0;
						}
						&:hover{
							> a{
								color: $color-red-toyota;
							}
							> a span{
								color: $color-red-toyota;
							}
						}
		
					}
				}

			}
			
		}
	}
}
@keyframes animated-up {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.share-fixed{
	background: $color-red-toyota url('../img/background/icon-service.svg') no-repeat center center;
	background-size: 30px;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;	
    cursor: pointer;
    position: relative;
    z-index: 12;
    transition: all 0.2s ease; 
 	//animation: animated-up 4s ease infinite;
	//transform-origin: 50% 50%;   
	&.active{
		background: $color-red-toyota url('../img/background/close-white.svg') no-repeat center center;		
		background-size: 16px;
	}
	@media (max-width: 660px){
		width: 40px;
    	height: 40px;
	}
}

.new-brand-footer{
	text-align: center;
	border-top: 1px solid #fff;	
	padding: 20px 0 20px 0;
	figure{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		max-width: 85px;
	}	
	@media (max-width: 660px){
		display: inline-block;
	    vertical-align: top;
	    margin-top: 0;
		figure{
			max-width: 48%;
			margin: 0 0 30px 0;
			padding: 0 10px;
		}
	}
}

