.banner-general{	
	overflow: hidden;
	margin: 0 auto 50px;	
	figure{
		display: block;
		width: 100%;
		img{
			width: 100%;
			max-height: 480px;
			min-height: 230px;
			object-fit: cover;
			@media (max-width: 660px){
				max-height: inherit;
    			min-height: auto;
			}
		}
	}
	&.banner-bottom{
		margin-bottom: 0;
	}
	@media (max-width: 660px) {
		margin-bottom: 30px;
	}
	&.banner-etica{
		@media (max-width: 660px){
			figure img{
				max-height: auto;
				min-height: auto;
			}
		}

	}
}
.main-cita-taller, .main-test-drive{
	text-align: center;
	padding: 50px 0 50px 0;
	h1{
		font-size: 34px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	hr{
		width: 100%;
		display: inline-block;
		vertical-align: top;
		border: 0;
		border-top: 1px solid #d7d7d7;
		margin: 0 auto 40px;
		clear: both;

	}
	@media (max-width: 660px){
		padding-bottom: 30px;
		h1{
			font-size: 27px;
			margin-bottom: 30px;
		}
	}
}
.details-cita, .details-test{
	display: block;
	clear: both;
	text-align: left;
	padding-bottom: 20px;
	p{
		background: url('../img/background/bullet-red-check.svg') no-repeat left 2px;
		background-size: 24px;
		font-family: 'ToyotaText-Bold';
		padding-left: 35px;
		display: inline-block;
		vertical-align: top;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 100%;
    	flex-wrap: wrap;
    	text-align: center;
		li{
			background: url('../img/background/bullet-red-check.svg') no-repeat left 2px;
			background-size: 20px;
			display: inline-block;
			vertical-align: top;
			padding-left: 35px;
			width: 25%;
			font-family: 'ToyotaText-Bold';
			line-height: 21px;
			min-height: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
			position: relative;
			min-height: 42px;
			&:after{
				width: 1px;
				height: 100%;
				content: "";
				top: 0;
				right: 15px;
				background: #d7d7d7;
				position: absolute;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			&:nth-child(4n){				
				padding-right: 0;
				border-right: 0;
				&:after{
					display: none;
				}
			}
		}
	}
	@media (max-width: 660px){
		padding-left: 15px;
		padding-right: 15px;
		ul{
			li{
				width: 100%;
				padding-right: 0;
				&:after{
					display: none;
				}				
			}
		}
	}
}

.form-yokomotor{
	max-width: 1100px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	text-align: center;
	p{
		color: #4B4B4B;
		font-size: 18px;
		margin: 0 0 40px 0;
		padding: 0 15px;
	}
	input[type="submit"],	
	[type=button], button, .btn-siguiente{
		background: $color-red-toyota;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #fff;
	    padding: 0 30px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 1px solid $color-red-toyota;
	    font-size: 16px;
	    margin-bottom: 10px;
	    text-align: left;
	    line-height: 38px;
	}
	.checked-style{
		margin: 0 auto 30px;
		padding: 0 15px;
	}
}
.main-form-fieldset{
	fieldset {
	    border: 1px solid #A7A7A7;
	    padding: 5px 15px 0 15px;
	    margin-bottom: 20px;
	    width: 100%;
	    float: left;
	    text-align: left;	
	    min-height: 54px;   
	}
	legend {
	    color: #707070;    
	    font-size: 14px;
	    display: inline-block;
	    max-width: initial;
	    width: auto;
	    padding: 0 15px;
	    margin: 0;
	    text-transform: uppercase;
	    text-align: left;
	    strong{
	    	font-family: 'ToyotaText-Bold';
	    	color: #000;
	    	font-size: 17px;
	    }
	    span{
	    	color: $color-red-toyota;
	    	margin-right: 10px;
	    	font-weight: bold;
	    }
	}
	input[type="text"],  
	input[type="number"],  
	input[type="tel"],  
	input[type="email"], 
	input[type="password"],
	input[type="date"],
	select, textarea, input[type="file"]{
	  	position: relative;
	    top: 0;
	    background-color: transparent;
	    height: 35px;
	    padding: 0 15px;
	    width: 100%;
	    max-width: 100%;
	    margin: -8px 0 0 0;
	    color: #707070;
	    font-size: 15px;
	    border: 0;
	    text-align: left;	    
	}
	input[type="date"]{
		text-transform: uppercase;
	}
	select{
		background-position: center right;
	}
	input[type="file"]{
		margin-top: 20px;
		margin-bottom: 15px;
	}
	textarea{
		resize: none;
		height: 70px;
		margin-top: 0;
		min-height: 70px;
	}

	input[type="submit"],	
	[type=button], button{
		background: $color-red-toyota;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #fff;
	    padding: 10px 30px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 1px solid $color-red-toyota;
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.checked-style{
		margin: 0 auto 30px;
	}
}

.main-service-workshop{	
	padding: 50px 0 30px 0;
	text-align: center;
	h1{
		font-size: 34px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	@media (max-width: 660px){
		padding: 30px 0 20px 0;
		h1{
			font-size: 27px;
			margin-bottom: 30px;
		}
	}
}

.row-workshop{
	max-width: 1100px;
	margin: 0 auto;
	@media (max-width: 660px) {
		overflow: hidden;
	}
	
}

.card-workshop-service{
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #d7d7d7;
	h2{
		text-align: left;
		font-size: 28px;
		margin: 0 0 20px 0;
		color: #000;
		text-transform: uppercase;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0 0 15px 0;
		display: flex;
    	flex-wrap: wrap;
		li{
			background: url('../img/background/bullet-red-check.svg') no-repeat left 2px;
			background-size: 20px;
			float: left;
			padding-left: 35px;
			width: 100%;
			font-family: 'ToyotaText-Bold';
			line-height: 21px;
			min-height: 20px;			
			margin-bottom: 15px;
			position: relative;			
		}
	}
	ol{
		padding: 0;
		margin: 0 0 25px 20px;
		li{
			margin-bottom: 5px;
		}
	}
	p{
		line-height: 22px;
		margin: 0 0 30px 0;
	}
	.img-featured{
		img{
			max-height: 530px;
			object-fit: cover;
			width: 100%;
		}
	}
	.details-workshop{
		text-align: left;
		color: #4B4B4B;
		background: #fff;
		padding-top: 20px;
		@media (max-width: 660px){
			padding-top: 0;
		}
		.text-center{
			text-align: left !important;
		}
	}
	&:last-child{
		border-bottom: 0;
		margin-bottom: 0;
	}
	&:nth-child(2n){
		// .details-workshop{
		// 	order: 1;
		// }
		// .img-featured{
		// 	order: 2;
		// }
	}
	.btn-yokomotor{
    	padding: 10px 30px;
	}
	@media (max-width: 660px) {
		margin-bottom: 30px;
		padding-bottom: 30px;
		.row{
			display: block;
		}
		figure{
			margin-bottom: 25px;
		}
	}
}

.lightbox-form{
	max-width: 700px;
	padding: 25px 30px 10px 30px;
	border-radius: 15px;
	h1{
		text-align: center;
	    font-size: 22px;
	    margin: 0 0 15px 0;
	    color: #000;
	    text-transform: uppercase;
	}
	h3{
		text-align: center;
	    font-size: 18px;
	    margin: 0 0 5px 0;
	    color: #000;
	    text-transform: uppercase;
	}
	h6{
		font-family: 'Toyota-Text-Regular';
		font-size: 18px;
		margin: 0 0 30px 0;
	}
	.cerrar{
		background: url('../img/background/close-red.svg') no-repeat center left;
		background-size: 10px;
		position: absolute;
		right: 30px;
		top: 8px;
		font-family: 'ToyotaText-Bold';
		font-size: 15px;
		padding-left: 20px;
		color: #000;
		@media (max-width: 660px){
			right: 15px;
		}		
	}
	.main-form-fieldset {
		fieldset{
			margin-bottom: 18px;
		}
	}
	@media (max-width: 660px) {
	    width: 100%;
	    padding: 40px 0px 10px 0px;
	    height: 100%;
	    overflow: scroll;
	    border-radius: 0;
	    h1{
	    	font-size: 20px;
	    	padding: 0 15px;
	    }
	    h3{
	    	font-size: 16px;
    		margin: 0;
	    }
	     .main-form-fieldset {
	     	fieldset{
	     		margin-bottom: 10px;
	     	}
	     }
	    .checked-style {
	    	margin: 0 auto 15px;
	    	label{
	    		font-size: 13px;
    			line-height: 16px;
	    	}
	    }
	}
}

.main-campaign-all{
	padding-bottom: 50px;
	h1, h2{
		text-align: center;
		margin: 0 0 30px 0;
		display: block;
		font-size: 34px;
	}
	a {color: #fff;}
	.campaign-small{
		margin-bottom: 30px;
	}
	@media (max-width: 660px){
		padding-bottom: 20px;
		h1{
			font-size: 27px;
			margin-bottom: 30px;
		}
	}
}

.main-after-sales{
	background-color: #000;
	padding: 40px 0 40px 0;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #C2C2C2;
	h2{
		font-size: 27px;
		text-transform: uppercase;
		margin: 0 0 2px 0;
	}
	p:empty{
		display: none !important;
	}
	p{
		font-size: 18px;
		clear: both;
		display: block;
		margin: 0 0 30px 0;
	}
	.checked-style{
		margin: 0 30px;
		max-width: 350px;
	}
	.con-newsletter{
		clear: both;
		width: 100%;
		margin: 0 auto;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	}
	label{
		line-height: 17px;
		font-size: 13px;
		a{
			color: #fff;
			transition: all 0.3s;
			&:hover{
				color: $color-red-toyota;
			}			
		}
	}
	input[type="submit"],
	[type=button], button{
	    background: $color-red-toyota;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #fff;
	    padding: 10px 30px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 1px solid $color-red-toyota;
	    font-size: 15px;
	    margin-bottom: 10px;
	    text-transform: uppercase;
	    &:hover{
	    	background: #fff;
	    	color: $color-red-toyota;
	    	transition: all 0.4s ease;
	    }
	}
	fieldset {
	    border: 1px solid #fff;
	    padding: 5px 15px 0 15px;
	    margin: 0;
	    width: 100%;
	    float: none;
	    display: inline-block;
	    vertical-align: top;
	    text-align: left;
	    max-width: 300px;	   
	}
	legend {
	    color: #fff;    
	    font-size: 14px;
	    display: inline-block;
	    max-width: initial;
	    width: auto;
	    padding: 0 15px;
	    margin: 0;
	    text-transform: uppercase;
	    text-align: left;
	}
	input[type="text"],  
	input[type="number"],  
	input[type="tel"],  
	input[type="email"], 	
	select{
	  	position: relative;
	    top: 0;
	    background-color: transparent;
	    height: 38px;
	    padding: 0 15px;
	    width: 100%;
	    max-width: 100%;
	    margin: -8px 0 0 0;
	    color: #fff;
	    font-size: 15px;
	    border: 0;
	    text-align: left;
	}
	@media (max-width: 660px){
		padding: 30px 15px 25px 15px;
		fieldset{
			max-width: 100%;
		}
		.checked-style{
			margin: 0 0 30px 0;
			padding-top: 20px;
		}
	}
}

.main-404{
	padding: 100px 15px 180px 15px;
	text-align: center;
	h2{
		text-transform: uppercase;
		font-size: 18px;
		color: $color-red-toyota;
		margin: 0 0 10px 0;
	}
	h3{
		margin: 0 0 40px 0;
		color: #4B4B4B;
		font-size: 40px;
		text-transform: uppercase;
	}
	@media (max-width: 660px){
		padding: 40px 15px;
		h3{
			font-size: 30px;
		}
	}
}

.main-paga-factura{
	padding: 0px 0 60px 0;
	text-align: center;
	color: #000; 
	article{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 30px 30px;
		margin: 0 auto 40px;
		p{
			margin: 0;
			color: #4B4B4B;
    		font-size: 18px;
		}		
	}
	h1{
		color: #000;
		font-size: 34px;
	    display: block;
	    margin: 0 0 40px 0;
	    text-transform: uppercase;
	}
	.main-form-fieldset{
		max-width: 450px;
		padding: 0 15px; 
	}
	@media (max-width: 660px){
		padding-bottom: 40px;
		article {
			margin-bottom: 30px;
			br{
				display: none;				
			}
		}
		h1{
			font-size: 28px;
			padding: 0 15px;
			margin-bottom: 20px;
		}
	}
}

.main-wrap-financing{
	article{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 30px 30px;
		margin: 0 0 50px 0;
		p{
			margin: 0;
			color: #4B4B4B;
    		font-size: 18px;
		}		
	}
	@media (max-width: 660px){
		article {
			margin-bottom: 30px;
			br{
				display: none;				
			}
		}

	}
}

.main-wrap-soat{
	text-align: center;
	padding-bottom: 50px;
	h1{
		font-size: 34px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	article{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 30px 30px;
		margin: 0 0 50px 0;
		width: 100%;
		clear: both;
		p{
			margin: 0;
			color: #4B4B4B;
    		font-size: 18px;
		}		
	}
	@media (max-width: 660px){
		h1{
			font-size: 27px;
			margin-bottom: 30px;
		}
		article {
			margin-bottom: 30px;
			br{
				display: none;				
			}
		}

	}
}
.main-wrap-secure{
	article{
		border-top: 1px solid #e1e1e1;		
		padding: 30px 30px;
		margin: 0 0 50px 0;
		width: 100%;
		clear: both;
		p{
			margin: 0;
			color: #4B4B4B;
    		font-size: 18px;
		}		
	}
}
.main-yokomotor-banner{	
	background-position: bottom center !important;
	background-size: cover;
	position: relative;
	padding: 160px 15px;
	color: #fff;
	text-align: center;
	margin: 0 auto 50px;
	font-size: 18px;
	article{
		max-width: 600px;
		width: 100%;
		display: block;
		vertical-align: top;
		margin: 0 auto;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
		p{
			text-align: left !important;
		}
	}
	h1{
		font-size: 45px;
		text-transform: uppercase;
		margin: 0 0 25px 0;
	}
	@media (max-width: 660px){		
		background-size: cover !important;
		margin-bottom: 0;
		padding: 255px 15px;
	}
}
.toyota-what-is{
	max-width: 850px;
	text-align: left;
	font-size: 18px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 50px;
	margin: 0 auto 50px;
	p{
		margin: 0 0 25px 0;
		text-align: left;
	}
	@media (max-width: 660px){
		figure{
			max-width: 200px;
			display: block;
			margin: 0 auto 30px;
		}
	}
}

.time-line-toyota{
	padding: 0 0 50px 0;
	.accordion-detalles{
		max-width: 750px;
		h3{
			font-family: 'ToyotaText-Bold';
		}
	}
	.cont-time{
		padding: 25px 30px;
		h2{
			margin: 0;
			color: #000;
			font-size: 40px;
			text-align: center;
			display: block;
		}
	}
}

.main-sedes-toyomotor{
	padding: 40px 0 40px 0;
	h1{
		text-align: center;
		font-size: 40px;
		margin: 0 0 30px 0;
		padding: 0 15px;
		color: #000000;
		text-transform: uppercase;
	}
	.leyend-sedes{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 30px 15px;
		margin: 0 auto 40px;
		overflow: hidden;
		text-align: center;
		font-size: 18px;		
		p{
			margin: 0 auto;
			max-width: 600px;
			display: block;
		}
	}
	@media (max-width: 660px){
		padding-bottom: 20px;
		h1{
			font-size: 30px;			
		}
	}
}
.row-sedes-all{
	text-align: center;
}
.cont-concesionarios{
	h2{
		display: block;
		margin: 0 auto 40px;
		font-size: 30px;
		text-transform: uppercase;
		@media (max-width: 660px){
			font-size: 22px;
		}
	}
}
.card-sedes{
	display: block;
	margin: 0 auto 30px;
	max-width: 650px;
	border-bottom: 1px solid #e1e1e1;
	overflow: hidden;
	padding-bottom: 20px;
	figure{
		display: block;
		img{
			width: 100%;
		}
	}
	h4{
		text-transform: uppercase;
		font-size: 20px;
		color: #000;
		display: block;
		margin: 0 0 15px 0;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.info{
		padding: 20px;
		text-align: left;
	}
	hr{
		border-top: 0;
		border-bottom: 1px solid #e1e1e1;
		width: 100%;
		clear: both;
		margin: 0 auto 20px;
	}
	.view-map,
	.view-waze{
		background-size: 18px !important;
		color: #000;
		font-family: 'ToyotaText-Bold';
		font-size: 18px;
		padding-left: 25px;
		transition: all 0.3s ease;
		&:hover{			
			color: $color-red-toyota;
		}
	}
	.view-map{
		background: url('../img/background/view-map.svg') no-repeat center left;
		float: left;
		margin-left: 20px;
	}
	.view-waze{
		background: url('../img/background/view-waze.svg') no-repeat center left;
		float: right;
		margin-right: 20px;	
	}
}
#sede-medellin{
	.info ul{
		min-height: 147px;
		@media (max-width: 660px){
			min-height: auto;
		}
	}
}

.banner-responsabilidad{
	background: url('../img/background/bg-responsabilidad.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	padding: 80px 15px 120px 15px;
	overflow: hidden;
	margin: 0 auto 50px;
	text-align: center;
	article{
		margin: 0 auto;
		max-width: 500px;
		padding: 0 15px;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
	}
	h1{
		font-size: 33px;
		margin: 0 0 40px 0;
		text-transform: uppercase;
		strong, span{
			clear: both;
			width: 100%;
			display: block;
			font-size: 44px;
		}
	}
	p{
		font-size: 18px;
		line-height: 23px;
	}
}
.main-social{
	padding-bottom: 50px;		
	hr{margin-bottom: 40px;}
	h2{
		text-transform: uppercase;
		font-size: 30px;
		text-align: center;
		margin-bottom: 30px;
	}
	h3{font-size: 24px;}
	@media (max-width: 660px){
		h2{
			padding: 0 15px;
		}
	}
}

.main-job{
	text-align: center;
	padding-bottom: 50px;
	h1{
		display: block;
		font-size: 32px;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	.btns-live{
		margin-bottom: 20px;
		padding-top: 15px;
	}
	article{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		clear: both;
		display: inline-block;
		margin: 0 0 50px 0;
		padding: 30px 30px;
		text-align: left;
		vertical-align: top;		
		width: 100%;
		p{
			margin: 0 0 20px 0;
			color: #4B4B4B;
    		font-size: 18px;
    		a{
    			color: #4B4B4B;
    			text-decoration: underline;
    		}
    		span{
    			font-family: 'ToyotaText-Bold';
    			color: $color-red-toyota;
    		}
		}		
	}
	.btn-vacante{
		font-size: 19px;
		margin: 0 35px 20px 35px;
	}
	@media (max-width: 660px){
		article {
			margin-bottom: 30px;
			padding: 30px 15px;
			br{
				display: none;				
			}
		}
		.btn-vacante{
			margin: 0 auto 20px;
			width: 90%;
		}
	}
}

.banner-blog-general{	
	overflow: hidden;
	margin: 0 auto 0px;	
	figure{
		display: block;
		width: 100%;
		img{
			width: 100%;
			max-height: 350px;
			min-height: 200px;
			object-fit: cover;
		}
	}
	@media (max-width: 660px) {
		margin-bottom: 30px;
	}
}

.btn-tooltip{
	display: inline-block;	
	clear: both;
	vertical-align: top;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
	min-height: 55px;
	&:after{		
		background: url('../img/background/arrow-nav-white.svg') no-repeat center center;
		background-size: 14px !important;
		width: 14px;
		height: 10px;
		content: "";
		position: absolute;
		right: 12px;		
		top: 18px;
		z-index: 1;
	}
	ul{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		position: absolute;
		left: 0;
		top: 70px;
		background-color: #fff;
		border-radius: 10px 10px;
		list-style: none;
		padding: 8px 30px;
		margin: 0;
		text-align: left;
		width: 90%;
		right: 0;
		margin: 0 auto;
		transition: all 0.5s ease;
		opacity: 0;
		visibility: hidden;
		height: 0;
		li{
			font-family: 'Toyota-Text-Regular';
			background: transparent;
			padding: 0;
			margin: 0;
			display: block;
			color: $color-red-toyota;
			border-bottom: 1px solid #d3d3d3;
			font-size: 15px;
			line-height: 18px;
			strong{
				font-family: 'ToyotaText-Bold';
				display: block;
				width: 100%;
			}
			a{
				width: 100%;
				display: block;
				color: $color-red-toyota;
				padding: 8px 0; 
				transition: all 0.3s ease;
				&:hover{
					padding-left: 10px;
				}
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	.btn-yokomotor{
		padding-right: 40px !important;
	}
	&:hover{		
		.btn-yokomotor{
			cursor: pointer;
			&.icon-whatsapp{	
				background: url('../img/background/whatsapp-white.svg') no-repeat  15px center;	
				background-color: $color-red-toyota !important;
				background-size: 28px !important;			
				border: 1px solid $color-red-toyota;
				color: #fff;
				text-decoration: none;			
			}
		}
	}
	&.open-tooltip{
		&:after{
			background: url('../img/background/arrow-nav-red.svg') no-repeat center center;
		}
		.btn-yokomotor{			
			&.icon-whatsapp{	
				background-color: #fff !important;
				border: 1px solid $color-red-toyota;
				color: $color-red-toyota;
				text-decoration: none;			
				background: url('../img/background/whatsapp-red.svg') no-repeat  15px center;				
			}
		}
		ul{
			height: auto;
		    visibility: visible;
		    opacity: 1;
		    transition: all 0.5s;
		    top: 52px;
		}
	}
}


.main-line-etica{
	text-align: center;
	padding-bottom: 50px;
	h1{
		font-size: 32px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	h2{
		font-size: 28px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
		padding: 0 15px;
	}
	article{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 30px 30px;
		margin: 0 0 50px 0;
		display: inline-block;
		vertical-align: top;		
		width: 100%;
		clear: both;
		text-align: left;
		p{
			margin: 0 0 20px 0;
			color: #4B4B4B;
    		font-size: 18px;
    		a{
    			color: $color-red-toyota;
    			text-decoration: underline;
    			font-family: 'ToyotaText-Bold';
    		}
    		span{
    			font-family: 'ToyotaText-Bold';
    			color: $color-red-toyota;
    		}
		}		
	}

	@media (max-width: 660px){
		article {
			margin-bottom: 30px;
			padding: 30px 15px;
			br{
				display: none;				
			}
		}
	}
}

.terms-etica{
	padding-top: 40px;
	.accordion-detalles{
		max-width: 100%;
	}
	.ui-accordion-content {
		padding: 20px 15px;
	}
}

.main-templete-content{
	padding: 40px 0 60px 0;
	color: #4B4B4B;
	text-align: left;
	a{
		color: #4B4B4B;
		text-decoration: underline;
	}
	h1{
		font-size: 32px;
		display: block;
		margin: 0 0 40px 0;
		text-transform: uppercase;
	}
	h2{
		font-size: 27px;
		margin: 0 0 30px 0;
	}
	h3{
		font-size: 23px;
		margin: 0 0 20px 0;
	}
}

.select-opc{
	display: none;
}

.form-yokomotor .wpcf7 .wpcf7-response-output {
	color: #787878;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
    width: 90%;
    max-width: 550px;
    margin: 30px auto;
    display: inline-block;
    vertical-align: top;
    clear: both;
    border: 2px solid #e9e9e9 !important;
    border-radius: 7px;
    font-family: 'Toyota-Text-Regular';
    font-size: 23px;
    padding: 40px;
}
.form-yokomotor{
	.wpcf7 form.invalid .wpcf7-response-output{
		border-color: transparent;
	    color: #eb0a1e;
	    font-size: 18px;
	    font-weight: bold;
	}	
}
.wpcf7-not-valid-tip{
	font-size: 13px !important;
}
.wpcf7-spinner{
	clear: both;
	width: 100%;
	margin: 0;
}

.obsservacion-boutique{
	margin-top: 20px;
	max-width: 355px;
	fieldset{
		border-radius: 5px;
		margin-bottom: 0;
	}
}

.text-center-btn{
	clear: both;
}
