header{
	position: relative;
	z-index: 2;
	background: #fff;
	    border-bottom: 1px solid #f1f1f1;
	.bar-secondary{
		background-color: #f2f2f2;
		padding: 10px 0;
		border-bottom: 1px solid #C2C2C2;
		@media (max-width: 660px){
			display: none;
		}
	}	
	.redes{
		float: right;
		margin-top: 2px;
	}
	.nav-top{
		float: right;
		margin-right: 35px;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				float: left;
				margin-right: 20px;
				color: #4B4B4B;
				font-size: 15px;
				a{
					display: block;
					color: #4B4B4B;
				}
				&:last-child{
					margin-right: 0;
				}
				&.icon-contacto{
					a{
						padding-left: 35px;
						background: url('../img/background/icon-contacto.svg') no-repeat left center;
					}
				}
				&:hover{
					a{
						color: $color-red-toyota;
					}
				}
			}
		}
	}
	.logo-yokomotor{		
		@media (max-width: 660px){			
			margin: 10px 25px 15px 15px;
		}
	}	
	.logo-toyota{
		float: right;
		margin-top: 11px;
		img{
			max-width: 115px;
		}
		@media (max-width: 660px){
			margin-right: 0;
			margin-top: 15px;
		}
	}
	.logo-yokomotor{
		float: left;
		margin-top: 10px;
	}
	.logo-yokomotor{
		img{			
			max-width: 100px;	
		}
	}

	/* .normal-menu {
		display: none;
    position: absolute;
    background: #fff;
    text-align: left;
    padding-top: 8px;
    max-width: 230px;
    width: 230px;
    left: -10%;
	} */

	@media (max-width: 660px){
		z-index: 6;
		width: 80%;
	}
}
.bar-principal{
	padding: 0 0;
	// border-bottom: 1px solid #C2C2C2;
	min-height: 58px;
	nav{
		float: right;
		margin-right: 20px;
		@media (max-width: 660px){
			display: none;
			margin-right: 0;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			> li{
				position: relative;
				float: left;
				margin-right: 25px;
				color: #4B4B4B;				
				a{
					display: block;
					color: #4B4B4B;
					padding: 17px 15px 17px 15px;					
				}
				&:last-child{
					margin-right: 0;
				}
				&.menu-item-has-children,
				&.icon-arrow{
					margin-right: 17px;
					a{
						background: url('../img/background/arrow-nav-gray.svg') no-repeat 90% center;
						padding-right: 30px;
						background-size: 12px;
					}
					&:last-child{
						margin-right: 0;
						// current_page_item
					}
					&:hover, &.active, &.current{
						a{
							background: #f2f2f2 url('../img/background/arrow-nav-red.svg') no-repeat 90% center !important;
							background-size: 12px !important;
						}
					}
				}
				&:hover{
					a{
						background-color: #f2f2f2 !important;						
					}
				}
			}
		}
		.sub-menu.active {
			height: auto;
			visibility: visible;
			opacity: 1;
			transition: all 0.5s;
			top: 52px;
		}
		ul.sub-menu {
			display: none;
		    position: absolute;
		    left: 0;
			width: 180px;
		    left: 0;		     
		    background-color: #fff;
		    border-radius: 0;
		    list-style: none;    
		    margin: 0;
		    text-align: left;    
		    right: 0;
		    margin: 0 auto;
		    border: 1px solid #e3e3e3;
		    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
			li.menu-item {
				font-family: 'Toyota-Text-Regular';
				background: #fff;
				padding: 0;
				margin: 0;
				display: block;
				color: #EB0A1E;
				border-bottom: 1px solid #d3d3d3;
				font-size: 15px;
				line-height: 18px;
				float: none;
				a {
					background: none !important;
					width: 100%;
					display: block;
					color: #4b4b4b;
					padding: 10px 15px;
					transition: all 0.3s ease;
				}
			}
		}
	}
}

.redes{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			margin-right: 8px;
			a{				
				transition: all 0.2s ease;
				background-size: 20px !important;
				display: block;
				height: 20px;
				text-indent: -9999px;
				width: 20px;
				padding: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			&.icon-fb{
				a{
					background: url('../img/background/facebook-black.svg') no-repeat center center;
				}
			}
			&.icon-tw{
				a{
					background: url('../img/background/twitter-black.svg') no-repeat center center;
				}
			}
			&.icon-it{
				a{
					background: url('../img/background/instagram-black.svg') no-repeat center center;
				}
			}
			&.icon-yt{
				a{
					background: url('../img/background/youtube-black.svg') no-repeat center center;
				}
			}
			&:hover{
				&.icon-fb{
					a{
						background: url('../img/background/facebook-red.svg') no-repeat center center;
					}
				}
				&.icon-tw{
					a{
						background: url('../img/background/twitter-red.svg') no-repeat center center;
					}
				}
				&.icon-it{
					a{
						background: url('../img/background/instagram-red.svg') no-repeat center center;
					}
				}
				&.icon-yt{
					a{
						background: url('../img/background/youtube-red.svg') no-repeat center center;
					}
				}
			}
		}
	}
}

.redes-share{
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			margin-right: 8px;
			a{				
				background-color: #fff !important;
				transition: all 0.2s ease;
				background-size: 20px !important;
				display: block;
				height: 22px;
				text-indent: -9999px;
				width: 22px;
				padding: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			&.icon-fb{
				a{
					background: url('../img/background/facebook-black.svg') no-repeat center center;
				}
			}
			&.icon-tw{
				a{
					background: url('../img/background/twitter-black.svg') no-repeat center center;
				}
			}
			&.icon-it{
				a{
					background: url('../img/background/instagram-black.svg') no-repeat center center;
				}
			}
			
			&:hover{
				&.icon-fb{
					a{
						background: url('../img/background/facebook-red.svg') no-repeat center center;
					}
				}
				&.icon-tw{
					a{
						background: url('../img/background/twitter-red.svg') no-repeat center center;
					}
				}
				&.icon-it{
					a{
						background: url('../img/background/instagram-red.svg') no-repeat center center;
					}
				}				
			}
		}
	}
}
#nav-toogle {
	width: 50px;
	height: 50px;
	position: absolute;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 99;
	border-radius: 50%;
	border: 4px solid transparent;
	display: inline-block;
	vertical-align: top;
	right: 20px;
	top: 10px;
	display: none;
}
#nav-toogle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
	z-index: 99;
}
#nav-toogle span:nth-child(1) {
	top: 11px;
}
#nav-toogle span:nth-child(2),
#nav-toogle span:nth-child(3) {
	top: 30px;
}
#nav-toogle span:nth-child(4) {
	top: 21px;
}
#nav-toogle.open span:nth-child(1) {
	left: 50%;
	top: 21px;
	width: 0%;
}
#nav-toogle.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 21px;
}
#nav-toogle.open{

}
#nav-toogle.open span {
	background: #fff !important;
}
#nav-toogle.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
}
#nav-toogle.open span:nth-child(4) {
	left: 50%;
	top: 21px;
	width: 0%;
}



// Mega menu Web
.wrap-mega-menu{
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	clear: both;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 2;
	padding: 0 0 30px 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	height: 0;
	transform: translate(0, 20px);
    transition: opacity 200ms ease-in,transform 200ms ease-in,visibility 200ms ease-in;
	.pagination-square{
		margin-top: 20px;
	}
	&.visible_mega-menu{
		height: auto;
    	opacity: 1;
    	transform: translate(0, 0px);
    	visibility: visible;
    }
}

.titles-nav-car{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		font-family: 'ToyotaText-Bold';
		font-size: 15px;
		float: left;
		text-align: center;
		position: relative;
		width: 16.666%;
		a{
			color: #4b4b4b;
			display: block;
			padding: 15px 15px;
			position: relative; 
			transition: all 0.3s ease;
			&:after{
				background: $color-red-toyota;
				bottom: 0;
				content: "";
				display: block;
				height: 3px;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				transition: all 0.5s ease;
				width: 0%;
			}
			&:hover{
				color: $color-red-toyota;
			}
		}
		&:after, &:before{
			background: #adadad;
			content: "";
			display: block;
			height: 16px;
			left: 0;
			margin-top: -8px;
			position: absolute;
			top: 50%;
			width: 1px;
		}
		&:before{
			display: none;
			right: 0;
			left: auto;
		}
		&:last-child{
			&:before{display: block;}
		}
		&.ui-tabs-active{
			a{
				&:after{
					width: 90%;
				}
			}
		}
	}
}

.conten-car-menu{
	padding: 40px 0 0 0;
	clear: both;
}
.car-nav-yokomotor{
	float: left;
	
	text-align: center;
	width: 100%;
	figure{
		display: block;
		margin: 0 0 10px 0;
		width: 100%;
		img{
			max-height: 80px;
			transition: all 0.3s ease;
		}
	} 
	figcaption{
		clear: both;
		color: #4B4B4B;
		display: block;
		font-family: 'ToyotaText-Bold';
		font-size: 17px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: all 0.3s ease;
	}
	&:hover{
		figure{
			img{
				transform: scale(1.1);
			}
		}
		figcaption{
			color: $color-red-toyota;			
		}
	}
}	



// Mega Menu Mobile
body{
	&.shadow-body{
		overflow-y: hidden;
		.nav-mobile-yokomotor{
			height: 100%;
			box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
			background: #fff; 
			position: fixed;    
		}
		&:after{
			visibility: visible;
    		opacity: 1;
		}
		.conten-xs-redes{
			visibility: visible;
    		opacity: 1;
    		transform: translate(0, 0);
    		display: block;
		}
	}
	&.shadow-body-orderby{
		&:after{
			background: rgba(0, 0, 0, 0.4) !important;
			visibility: visible;
    		opacity: 1;
    		z-index: 6 !important;
		}
	}
	&.shadow-body-filter-all{
		&:after{
			background: rgba(0, 0, 0, 0.4) !important;
			visibility: visible;
    		opacity: 1;
    		z-index: 6 !important;
		}
	}
	&:after{
		background: rgba(255, 255, 255, 0.6);		
		content: "";
		height: 100%;
		left: 0;
		margin: 0 auto;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 4;
		transition: all 0.5s;
		opacity: 0;
		visibility: hidden;		
	}
}
.nav-mobile-yokomotor{	
	display: none;    
    max-width: 300px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 5;
    @media (max-width: 660px){
    	display: block !important;
    }
    .redes{  
    	display: inline-block;
    	vertical-align: top;
    	border-top: 1px solid #000;  	
    	border-bottom: 1px solid #000;
    	width: 100%;
    	padding: 12px 0 15px 0;
    	span{
    		font-family: 'ToyotaText-Bold';
		    font-size: 16px;
		    margin: 0 0 10px 0;
		    display: inline-block;
		    vertical-align: top;
    	}
    	ul{
    		li{
    			margin-right: 15px;
    			display: block !important;
    		}
    	}
    }
}
.redes-dl-submenu{
	padding: 5px 20px;	
}
.contacto-dl-submenu{
	padding: 0 20px;
	font-family: 'ToyotaText-Bold';
	font-size: 16px;	
	margin-top: 10px;
	a{
		color: #000 !important;
		padding: 13px 20px 13px 40px !important;
		background: url('../img/background/icon-contacto.svg') no-repeat left center;
	}
}
.test-dl-submenu{
	padding: 0 20px;
	font-family: 'ToyotaText-Bold';
	font-size: 16px;
	margin-bottom: 15px;	
	a{
		color: #000 !important;
		padding: 13px 20px 13px 40px !important;
		background: url('../img/background/steering-wheel-red.svg') no-repeat left center;
		background-size: 22px;
	}
}
.conten-xs-redes{
	position: absolute;
    background-color: #fff;
    bottom: 30px;
    margin: 0;
    max-width: 300px;
    padding: 0 0;
    z-index: 5;
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 20px);
    display: none;
    ul{
    	list-style: none;
    	padding: 0;
    	margin: 0;
    }
}

body.shadow-body header{
	z-index: 4;
}

// Btn Test drive
.btn-testdive{
	float: right;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    border-right: 1px solid #c2c2c2;
    padding-right: 12px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			padding: 0 0;
			position: relative;
			a{
				color: #4B4B4B;
				background: url('../img/background/arrow-nav-gray.svg') no-repeat 90% center;
				padding-right: 30px;
				background-size: 12px;
				display: block;
			}
			&:hover{
				.sub-menu{
					display: block;
				}
				a{
					background: url('../img/background/arrow-nav-red.svg') no-repeat 90% center !important;
					background-size: 12px !important;
				}
			}
		}
	}
	ul.sub-menu{
		position: absolute;
		left: 0;
		width: 150px;
		top: 19px;		
		border-radius: 0 0 5px 5px;
		border-top: 15px solid transparent;
		display: none;
		li{
			display: block;
			padding: 0;
			font-size: 13px;
			a{
				color: #fff;
				background: #2E2A25 !important;
				border-bottom: 1px solid #fff;
				padding: 7px 15px;
				text-align: left;
				cursor: pointer;
			}
			ul.sub-menu{
				display: none;
			}
			&:hover{
				a{
					background: #2E2A25 !important;
					color: #fff;
				}
			}
			&:last-child{
				a{
					border-bottom: 0;
				}
			}
		}
	}
	
	ul.thirt-menu li a {
	    padding-left: 30px !important;
	    border-top: 1px solid #fff !important;
	    font-size: 12px;
	}
}
// End Btn Test drive style

.nav-contact-ws{
	float: right;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    border-right: 1px solid #c2c2c2;
    padding-right: 12px;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			padding: 0 0;
			position: relative;
			a{
				color: #4B4B4B;
				background: url('../img/background/arrow-nav-gray.svg') no-repeat 90% center;
				padding-right: 30px;
				background-size: 12px;
				display: block;
			}
			&:hover{
				.sub-menu{
					display: block;
				}
				a{
					background: url('../img/background/arrow-nav-red.svg') no-repeat 90% center !important;
					background-size: 12px !important;
				}
			}
		}
	}
	ul.sub-menu{
		position: absolute;
		left: 0;
		width: 150px;
		top: 19px;		
		border-radius: 0 0 5px 5px;
		border-top: 15px solid transparent;
		display: none;
		li{
			display: block;
			padding: 0;
			font-size: 13px;
			a{
				color: #fff;
				background: #2E2A25 !important;
				border-bottom: 1px solid #fff;
				padding: 7px 15px;
				text-align: left;
				cursor: pointer;
			}
			ul.sub-menu{
				display: none;
			}
			&:hover{
				a{
					background: #2E2A25 !important;
					color: #fff;
				}
			}
			&:last-child{
				a{
					border-bottom: 0;
				}
			}
		}
	}
	
	ul.thirt-menu li a {
	    padding-left: 30px !important;
	    border-top: 1px solid #fff !important;
	    font-size: 12px;
	}
}
.max_mega_menu-container{
	position: relative;
	top: 58px;
}