.body-site-hino{
	.bar-principal nav{
		margin-right: 70px;
		@media (max-width: 660px){
			margin-right: 0;
		}
	}	
	.card-blog p{
		min-height: 95px;
	}
	.main-modelos-color{
		.swiper-thums-color{
			position: relative;
			top: -13px;
			.swiper-slide-thumb-active {
				.bullet-color{
					    border: 2px solid $color-red-toyota;
				}
			}
		}
		.col-modelos-color{
			.bullet-color{
			    width: 20px;
			    height: 20px;
			}			
		}
	}
	.main-paga-factura{
		h1{
			padding-top: 45px;
		}
	}
	.new-brand-footer{
		display: none !important;
	}
	.row-sedes-all{
		.row{
			align-items: center;
    		justify-content: center;
		}
	}
	.card-marca-accesorios{
		h6{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.conten-xs-redes{
		.test-dl-submenu,
		.contacto-dl-submenu{
			display: none !important;
		}
	}
	&.postid-902{
		
	}
}
.modelos-home-hino{
	background-color: #e8e8e8;
	padding: 50px 0;
	margin-bottom: 40px;
	text-align: center;
	h2{
		font-size: 32px;
	    margin: 0 0 30px 0;
	    display: block;
	    clear: both;
	}
	.main-car{
		padding-bottom: 0;
		figure{
			margin-bottom: 40px;
			padding-top: 20px;
			img{
				width: auto;
				max-height: 236px;
			}
			@media (max-width: 660px){
				margin-bottom: 20px;
				padding: 0 30px;
			}
		}
	}
	@media (max-width: 660px){
		h2{
			margin-bottom: 0;			
		}
	}
}
.hino-connect{
	margin-bottom: 50px;
	.bg-hino-connect{
		background-size: cover !important;
		padding: 40px 40px;
		position: relative;
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}
		article{
			text-align: left;
			color: #fff;
			max-width: 650px;
			position: relative;
			z-index: 1;
		}
		h2{
			font-size: 32px;
		    margin: 0 0 15px 0;
		    display: block;
		    clear: both;
		}
		p{
			font-size: 18px;
			margin: 0 0 25px 0;
			line-height: 22px;
		}
		ul{
			li{
				line-height: 18px;
    			margin-bottom: 20px;
			}
		}
		@media (max-width: 660px){
			padding: 30px 25px;
		}
	}
}

.lightbox-generico{
	max-width: 750px;
    padding: 25px 30px 10px 30px;
    border-radius: 15px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    text-align: left;
    .cerrar{
    	background: url('../img/background/close-red.svg') no-repeat center left;
	    background-size: 10px;
	    position: absolute;
	    right: 30px;
	    top: 8px;
	    font-family: 'ToyotaText-Bold';
	    font-size: 15px;
	    padding-left: 20px;
	    color: #000;
    }
    h1{
    	font-size: 20px;
    	text-transform: uppercase;
    }
    hr{
    	margin-top: 1rem;
    	margin-bottom: 1rem;
    	border: 0;
    	border-top: 1px solid rgba(0,0,0,.1);
    }
    article{
    	@media (max-width: 660px){
    		overflow: auto;
		    max-height: 280px;
		    padding-right: 10px;
    	}
    }
    figure{
    	margin: 0 auto 20px;
    	display: block;
    	img{
    		width: 100%;
    		max-height: 250px;
    		object-fit: cover;
    		@media (max-width: 660px){
    			max-height: inherit;
    		}
    	}
    }
}

.page-id-939{
	h1{
		font-size: 34px;
	    display: block;
	    margin: 0 0 40px 0;
	    text-transform: uppercase;
	    text-align: center;	    
	}
	.accesorios-detailed-shop {
		h2{
			font-size: 24px;
			margin: 0 0 25px 0;
			padding-top: 25px;
		}
		ul{
			padding: 0;
			list-style: none;
    		margin: 0 0 25px 0;
			li{
				background: url('../img/background/bullet-red-check.svg') no-repeat left 2px;			    
			    padding-left: 35px;
			    display: inline-block;
			    vertical-align: top;
			    background-size: 24px;
			    margin-bottom: 17px;
			}
		}
	}
	.form-yokomotor{
		padding-top: 35px;
	}
}
.page-id-14{
	.main-accesorios-marcas h2{
		font-size: 34px;
	    display: block;
	    margin: 0 0 40px 0;
	    text-transform: uppercase;
	    text-align: center;
	}
	.row-card-5{
		overflow: hidden;
		padding-top: 35px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	}		
	.wrap-calificar{
		padding-top: 0;
	}
}

.wrap-calificar{
	overflow: hidden;
	padding: 30px 0  50px 0;
	text-align: center;
}

.content-exterior figure img{
	border: 1px solid #d3d3d3;
}
.logos-caracteristicas{
	margin-bottom: 50px;
}

// Section Aplicaciones
.main-aplicaciones{
	margin:30px 0 50px 0;
	h2{
		font-size: 22px;
		color: #212529;
	}
	p{
		text-align:center;
		font-size:16px;
		color: #212529;
		margin-top:20px;
	}
	@media(min-width:700px){
		.section-apply-flex{
			display:grid;
			grid-template-columns:repeat(4, 1fr);
			justify-content:center;
			align-items:center;
			gap:30px;
		}
		}
	.section-apply-flex{
		.content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media(max-width:600px){
				.content{
					margin-bottom:30px;
				}
			}
			img{
				width:50%;
				height:150px;
				text-align:center;
			}
			@media(min-width:768px){
				.section-apply-flex{
					img{
						width:60%;
					}
				}
				}
			h3{
				font-size:18px;
				width:90%;
				color:#5c5757;
				text-align: center;
			}
		}	

	}	
	
}