.banner-home{
	position: relative;	
	clear: both;
	width: 100%;
	margin: 0 auto 50px;	
	min-height: 400px;
	z-index: 1;
	figure{
		img{
			width: 100%;
		}
	}
	article{		
		border-radius: 2px;
		text-align: left;
		max-width: 645px;
		width: 100%;		
		display: flex;
		justify-content: space-between;
	}
	h1, h2{
		color: #000000;
		font-size: 28px;
		text-transform: uppercase;
		margin: 0 0 5px 0;
	}
	p{
		color: #4B4B4B;
		font-size: 15px;
		margin: 0 0 20px 0;
	}
	.wrap-banner{
		max-width: 34%;
	    display: block;
	    position: absolute;
	    left: 2.5%;
	    right: 0;
	    z-index: 1;
	    top: 70%;
		article {
			.btn-yokomotor-arrow{
				min-width: 47%;
				
			}
		}
	}
	.button-next, .button-prev{
		&.swiper-button-disabled{
			opacity: 0.3;
			cursor: default;
		}		
	}
	.button-next{
		right: 50px;
	}
	.button-prev{
		left: 50px;
	}
	.btn-yokomotor-arrow{
		&:hover{
			background-position: 85% center;
			padding-right: 50px;			
		}
	}
	.swiper-slide-active{
		.animation-caption {
		    -webkit-transform: translateY(0);
		    transform: translateY(0);
		    opacity: 1
		}	
	}
	.banner-pagination{
		display: none;
		bottom: -50px;
		color: #4B4B4B;
		z-index: 1 !important;
	}
	@media (max-width: 660px){
		min-height: auto;
    	margin-bottom: 80px;
    	.banner-pagination{
    		display: block;
    	}
		.wrap-banner{
			position: relative;
			top: 0;
			margin: 10px auto;
			article{
				background: #fff;
				border: 0;
				max-width: 100%;				
			}
		}
		.button-prev, .button-next{
			border: 2px solid #eee;
			top: auto;
		    margin-top: 0;
		    bottom: -60px;
		}
		.delay-1 {
		    transition-delay: 0.5s;
		}
	}
}
.main-banner-accesorios{
	article{
		background-color: transparent;
		border: 0;
	}
	h1, h2{
		color: #fff;
		font-size: 45px;
		text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	}
	@media (max-width: 660px){
		h1, h2{
			font-size: 27px;
		}
		figure{
			img{
				height: auto;
				object-fit: cover;
			}
		}
		.wrap-banner{
			position: absolute;
			article{
				background: transparent;
				padding: 20px 15px;
				max-width: 80%;
			}
		}
	}
}
.delay-0 {transition-delay: 0.5s;}
.delay-1 {transition-delay: 1s;}
.delay-2 {transition-delay: 2s;}

.button-next, .button-prev{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	z-index: 3;
	cursor: pointer;
	transition: all 0.3s ease;
	text-indent: -9999px;
	border: 1px solid #d5d5d5;
	&:focus{
		outline: none;
	}
	&.next-white,
	&.prev-white{
		background-color: #fff !important;
		&:hover{
			background-color: #000 !important;
			background: url('../img/background/next-white.svg') no-repeat center center;
		}
	}
	&.next-white{
		background: url('../img/background/next-black.svg') no-repeat center center;
	}
	&.prev-white{
		background: url('../img/background/next-black.svg') no-repeat center center;
		transform: rotate(178deg);
	}

	&.next-black,
	&.prev-black{
		background-color: #000 !important;
		&:hover{
			background-color: $color-red-toyota !important;
		}
	}
	&.next-black{
		background: url('../img/background/next-white.svg') no-repeat center center;

	}
	&.prev-black{
		background: url('../img/background/next-white.svg') no-repeat center center;
		transform: rotate(178deg);
	}

	&.next-red,
	&.prev-red{
		background-color: transparent !important;
	}
	&.next-red{
		background: url('../img/background/next-red.svg') no-repeat center center;
	}
	&.prev-red{
		background: url('../img/background/next-red.svg') no-repeat center center;
		transform: rotate(178deg);
	}

}
.button-next{
	right: 0;
}
.button-prev{
	left: 0;
}

.card-information{
	position: relative;
	display: block;
	text-align: left;
	figure{
		display: block;
		overflow: hidden;
		img{
			width: 100%;
			transition: all 0.4s ease;
		}
	}
	h2, h3{
		text-align: left;
		text-transform: uppercase;
	}
	h2{
		font-family: 'Toyota-Display-Bold';
		font-size: 28px;
		margin: 0 0 10px 0;
	}
	h3{
		font-size: 22px;
	}
	p{
		margin: 0;
		font-size: 18px;
		line-height: 23px;
	}
	a{
		display: block;
	}
	.overflow{
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 30px;
		color: #fff;
		transition: all 0.4s ease;
	}
	.btn-yokomotor-arrow{
		position: absolute;
    	bottom: 30px;
    	transition: all 0.4s ease;
    	&:hover{
    		background: #fff url('../img/background/icon-btn-arrow-red.svg') no-repeat 80% center;
    		color: $color-red-toyota;
    	}
	}
	&:hover{
		.overflow{
			background-color: rgba(0, 0, 0, 0.5);
		}
		img{
			transform: scale(1.1);
		}
	}
	&.campaign-small{
		p{
			font-size: 16px;
			line-height: 20px;
		}
		.overflow{
			padding: 20px 100px 30px 25px;
		}
		.btn-yokomotor-arrow{
			bottom: 20px;
		}

	}
	@media (max-width: 660px){
		margin-bottom: 30px;
		figure{
			img{
				min-height: auto;
    			object-fit: cover;
			}
		}
		h2{
			font-size: 20px;
		}
		p{
			font-size: 13px;
    		line-height: 18px;
		}
		.overflow{
			padding: 20px;
		}
		.btn-yokomotor-arrow{
			bottom: 20px;
		}
		&.campaign-small{
			figure{
				img{
					min-height: auto;	    			
				}
			}
		}
	}
}

.main-campaign{
	h1, h2{
		text-align: center;
		margin: 0 0 30px 0;
		display: block;
		font-size: 35px;
	}
}

.pagination-square{
	bottom: 0 !important;	
	position: relative;
	.swiper-pagination-bullet{
		width: 40px;
		height: 6px;
		border-radius: 0;
		margin: 0 4px !important;
		background: #dfdfdf;
		opacity: 1;
		&:focus{
			outline: none;
		}
	}
	&.bullet-gray{
		.swiper-pagination-bullet{
			background: #4b4b4b;				
		}
	}
	.swiper-pagination-bullet-active{
		background: $color-red-toyota !important;
	}
}

.pagination-bullet{
	bottom: 0 !important;	
	position: relative;
	clear: both;
	margin-top: 30px;
	.swiper-pagination-bullet{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin: 0 4px !important;
		background: #000;
		opacity: 1;
		border: 2px solid #000;
		&:focus{
			outline: none;
		}
	}
	&.bullet-gray{
		.swiper-pagination-bullet{
			background: #4b4b4b;				
		}
	}
	.swiper-pagination-bullet-active{
		background: #fff;
		border-color:  $color-red-toyota !important;
	}
}

.main-car{
	text-align: center;
	padding-bottom: 50px;
	.swiper-slide-active{
		.animation-car {
		    -webkit-transform: translateY(0);
		    transform: translateY(0);
		    opacity: 1
		}	
	}
	@media (max-width: 660px){
		.button-next{
			right: 10px;
		}
		.button-prev{
			left: 10px;
		}
		
	}
}

.swiper-car-full{
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.card_car-details{
	figure{
		margin: 0 auto 15px;
		display: block;
		img{
			width: auto;
			height: auto;
		}
	}
	h2{
		font-size: 32px;
		margin: 0 0 20px 0;
		display: block;
		clear: both;
		@media (max-width: 660px){
			min-height: 72px;
			font-size: 25px;
			padding: 0 25px;
		}
	}
	h3{
		font-size: 25px;
		margin: 0 0 0 0;
		display: block;
		clear: both;
		@media (max-width: 660px){
			min-height: auto;
			font-size: 22px;
		}
	}
	h4{
		color: $color-red-toyota;
		font-size: 20px;
		text-transform: uppercase;
		margin: 0 0 30px 0;
	}
	p{
		display: block;
		max-width: 500px;
		margin: 0 auto 20px;
		padding-top: 20px;
		line-height: 22px;
	}
	@media (max-width: 660px){
		padding: 0 15px;
		figure{
			img{
				width: auto;
				height: auto;
			}
		}
	}
}
.card_car-details p:empty{
	display: none !important;

}
.main-blog-home{
	border-top: 1px solid #DFDFDF;
	padding: 50px 0 60px 0;
	text-align: center;
	h2{
		color: #4B4B4A;
		font-size: 42px;
		margin: 0 auto 37px;
	}
}
.card-blog{
	display: block;
	margin: 0 auto 40px;
	max-width: 400px;
	figure{
		overflow: hidden;
		display: block;
		width: 100%;
		img{
			transition: all 0.4s ease;
		}
		&:hover{
			img{
				transform: scale(1.1);
			}			
		}
	}
	h4{
		font-family: 'Toyota-Text-Regular';
		font-size: 16px;
		color: $color-red-toyota;
	}
	h3{
		color: #4B4B4B;
		font-size: 15px;
		text-transform: uppercase;
	}
	p{
		margin: 0 0 25px 0;
		color: #4B4B4B;
		font-size: 15px;
		min-height: 57px;
		line-height: 19px;		
	}
	p:empty{
		display: none !important;
	}
	.details-blog{
		text-align: left;
		padding: 20px 0 0 0;
		.btn-yokomotor-light{
			padding-left: 0;
		}
	}
}

.main-video-home{
	text-align: center;	
    padding: 0 0;
	h2{
		font-size: 32px;
	    margin: 0 0 20px 0;
	    display: block;
	    clear: both;
	    text-transform: uppercase;
	    color: #212529;
	}
	iframe{
		width: 100%;
	    height: 220px;
	    display: inline-block;
	    vertical-align: top;
	    border: 5px solid #fff;
	    border-radius: 10px;
	    margin: 0 auto;
	    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	}
	@media (max-width: 660px){
		padding: 30px 0 40px 0;
		iframe{
			width: 320px;
			height: 184px;			
		}
	}
}

.page-id-26 .btn-ir {
    margin-top: -41px !important;
}