.main-modelos-carrousel{
	text-align: center;
	padding: 40px 0 40px 0;
	border-bottom: 1px solid #C2C2C2;
	z-index: 1;
	h1, h2{
		font-size: 24px;
		margin: 0 0 40px 0;
	}
	.col-swiper-modelos{
		max-width: 570px;
		margin: 0 auto;
		.swiper-slide-active{
			hr{
				background-color: $color-red-toyota;
			}
		}
	}
	.next-white, .prev-white{
		border: 2px solid #C2C2C2;
		position: relative;
		top: 0;
		margin-top: 25px;
		display: inline-block;
		vertical-align: top;
		&.swiper-button-disabled{
			background-color: #C2C2C2 !important;
			opacity: 0.5;
			cursor: default;
			pointer-events: none;
		}
	}
	.next-white{
		margin-left: 40px;
	}
	.prev-white{
		margin-right: 50px;
	}
	.modelo-pagination{
		display: inline-block;
	    vertical-align: top;
	    width: auto;
	    position: relative;
	    margin: 32px 0 0 0;
	    bottom: 0;
	}
}
.card-modelo-small{
	margin: 0 auto;
	display: block;	
	text-align: center;
	width: 100%;
	max-width: 190px;
	hr{
		transition: all 0.3s ease;
		width: 70%;
		margin: -7px auto 10px;
		display: block;
		height: 3px;
		background-color: transparent;
		position: relative;
		z-index: 1;
		border: 0;
	}
	a{
		display: block;
	}
	figure{
		display: block;
		margin: 0 0 10px 0;
		width: 100%;
		img{
			max-height: 80px;
			transition: all 0.3s ease;
		}
	} 
	h3{
		clear: both;
		color: #4B4B4B;
		display: block;
		font-family: 'Toyota-Text-Regular';
		font-size: 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: all 0.3s ease;
	}
	&:hover{
		hr{
			background-color: $color-red-toyota;
		}
		figure{
			img{
				transform: scale(1.1);
			}
		}
		h3{
			color: $color-red-toyota;			
		}
	}
}	
.single-yokomotor_vehicles{
	.main-modelos-color{
		h1{
			color:#212529;
			font-size:25px;
		}
		.price-color{
			color:#212529;
			font-size:20px;
		}
	}
}
.main-modelos-color{
	text-align: center;
	padding: 40px 0 40px 0;
	border-bottom: 1px solid #C2C2C2;
	h1, h2{
		font-size: 24px;
		margin: 0 0 20px 0;
		text-transform: uppercase;
		span{
			font-family: 'Toyota-Text-Regular';
			display: block;
			clear: both;
		}
	}
	h1, h2 span{
		color: $color-red-toyota;
	}
	.col-modelos-color{
		max-width: 580px;
		margin: 0 auto;
		figure{
			background-color: #fff;	
		}
	}
	.swiper-car-color{
		margin-bottom: 20px;
		.swiper-slide{
			opacity: 0;
			background-color: #fff;
			&.swiper-slide-active{
				opacity: 1;
			}
		}
	}
	.swiper-thums-color{
		max-width: 240px;
		margin: 0 auto;
		display: block;
		.swiper-slide-thumb-active{
			.bullet-color{
				transform: scale(1);
			}			
		}
	}
	.next-color,
	.prev-color{
		background-size: 15px !important;
		width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    position: absolute;
	    bottom: 0;
	    margin-top: -20px;
	    z-index: 3;
	    cursor: pointer;
	    transition: all 0.3s ease;
	}
	.next-color{
		background: url('../img/background/next-black.svg') no-repeat center center;
		right: 110px;
		@media (max-width: 660px){
			right: 0;
		}
	}
	.prev-color{
		background: url('../img/background/next-black.svg') no-repeat center center;
		transform: rotate(178deg);
		left: 110px;
		@media (max-width: 660px){
			left: 0;
		}
	}
	.col-texto-legal{
		max-width:900px;
		margin: 50px auto 0 auto;
		width:90%;
		p{
			color:#000;
			font-size:14px;
			margin: 0;
		}
	}
}
.bullet-color{
	border: 2px solid #cccccc;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	transform: scale(0.8);
	transition: all 0.4s ease;
}

.full-ball-planes{
	background-color: #2E2A25;
	clear: both;
	color: #fff;
	display: block;
	padding: 50px 0;
	text-align: center;
	width: 100%;
	h2{
		font-size: 23px;
		margin: 0 0 30px 0;
	}
	.btn-yokomotor{
		padding: 7px 30px;
	}
	@media (max-width: 660px){
		padding: 30px 15px;
	}
}

.col-btns{
	padding: 40px 0 0 0;
	.btn-cotizar,
	.btn-ficha{
		background: $color-red-toyota;
	    border-radius: 20px;
	    border: 1px solid $color-red-toyota;
	    color: #fff;
	    display: inline-block;
	    font-family: 'ToyotaText-Bold';
	    font-size: 14px;
	    margin: 0 10px;
	    min-width: 150px;
	    padding: 10px 20px;
	    transition: all 0.3s ease;
	    vertical-align: top;
	}
	.btn-ficha{
		color: $color-red-toyota;
		background: #fff;
	}
}

.main-features-specs{
	padding: 50px 0 40px 0;
	text-align: center;
	border-bottom: 1px solid #C2C2C2;
	@media (max-width: 660px){
		padding-bottom: 30px;
	}
}
.title-tabs-line{
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
	clear: both;
	width: 100%;
	li{
		margin: 0 10px;
		font-family: 'ToyotaText-Bold';		
		width: auto;
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		position: relative;
		a{
			display: block;
			color: #4B4B4B;
			&:after{
				background: $color-red-toyota;
			    bottom: -5px;
			    content: "";
			    display: block;
			    height: 3px;
			    left: 0;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    transition: all 0.5s ease;
			    width: 0%;
			}
		}
		&.ui-tabs-active{
			a:after{
				width: 100%;
			}
		}
	}
	&.title-tabs-small{
		li{
			margin: 0 30px;
			font-size: 15px;
			@media (max-width: 660px){
				margin: 0 20px;
			}
		}
	}
}

.content-features{
	clear: both;
	width: 100%;
	h2{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
	.pagination-diseno{
		position: relative;
		bottom: 0;
    	margin-top: 20px;
    	display: inline-block;
    	vertical-align: top;
    	width: auto;		
	}
}

.content-specs{
	h2{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
}

.content-exterior{
	position: relative;
	.next-exterior{
		right: 40px;
		@media (max-width: 660px){
			right: -20px;
		}

	}
	.prev-exterior{
		left: 40px;
		@media (max-width: 660px){
			left: -20px;
		}
	}
	.next-exterior,
	.prev-exterior{
		display: inline-block;
		vertical-align: top;
		&:hover{
	    	background-color: $color-red-toyota !important;			
		}
		&.swiper-button-disabled{
			opacity: 0.5;
			pointer: default;
		}		
	}
	@media (max-width: 660px){
		figure{
			margin-bottom: 10px;
			img{
				min-height: 250px;
				object-fit: cover;
			}
		}
		.next-exterior,
		.prev-exterior{
			position: relative;
			margin-top: 15px;
			border: 2px solid #B2B2B2;			
		}
	}
}

.col-360{
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid #C2C2C2;
	.btn-360{
		background: #fff url('../img/background/360.svg') no-repeat 25px center;
		background-size: 25px;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #000;
	    font-size: 14px;
	    padding: 8px 40px 8px 60px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 2px solid $color-red-toyota;
	    text-align: center;
	    margin: 0 10px;
	    text-transform: uppercase;
	    &:hover{
	    	box-shadow: 0 0 10px rgba(235, 10, 30, 0.4);
	    }
	}
}

.main-destacado-car{
	padding: 40px 0 40px 0; 
	text-align: center;
	h2{
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 30px 0;
		padding: 0 20px;
	}
}

.card-destacado{
	text-align: left;
	figure{
		display: block;
		margin: 0 0 25px 0;
		img{
			width: 100%;
		}
	}
	h5{
		font-size: 17px;
		display: block;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	p{
		line-height: 20px;
    	font-size: 15px;
	}
}
.download-icon{
	background: url('../img/background/icon-download.svg') no-repeat center left;
	background-size: 19px;
	display: inline-block;
	color: #000;
	vertical-align: top;
	padding: 0 28px;
	font-size: 18px;
	font-family: 'ToyotaText-Bold';
	margin-bottom: 30px;
	text-decoration: none !important;
	&:hover{
		color: $color-red-toyota;
	}
}

.accordion-detalles{
	width: 100%;
	clear: both;
	text-align: left;
	max-width: 700px;
	margin: 0 auto;
	display: block;
	h3{
		background-color: #666666;
		padding: 12px 25px 12px 30px;
		text-transform: uppercase;
		font-family: 'Toyota-Text-Regular';
		font-size: 15px;
		color: #fff;
		border-bottom: 2px solid #fff;
		margin: 0;
		cursor: pointer;
		position: relative;
		&:after{
		    font-family: 'ToyotaText-Bold';
		    position: absolute;
		    right: 20px;
		    top: 50%;
		    content: "+";
		    color: #fff;
		    font-size: 20px;
		    margin-top: -12px;
		}
		&.ui-state-active{
			cursor: default;
			&:after{
				content: "-";
			}
		}
		&:focus{
			outline: none;
		}
	}
	@media (max-width: 660px){
		padding: 0 15px;
		h3{
			padding: 12px 15px 12px 20px;
		}
	}
}
.content-detalles-tabs{
	padding: 20px 30px 10px 30px;
	color: #5A5A5A;
	font-size: 14px;
	p{
		line-height: 19px;
	}
	ol{
		list-style: none;
		padding: 0;
		display: block;
		width: 100%;
		li{
			display: block;
		    width: 100%;
		    margin-bottom: 4px;
		    overflow: hidden;
		    padding: 5px 15px;
		    font-size: 13px;
		    background-color: #f9f9f9;
			span{
				float: right;
				font-family: 'ToyotaText-Bold';
			}
			&:hover{
				background-color: #f1f1f1;
			}
		}
	}
	@media (max-width: 660px){
		padding: 20px 0 10px 0;
	}
}
.name-color{
	color: #4B4B4B;
	font-family: 'Toyota-Text-Regular';
	display: block;
	position: relative;
	font-size: 15px;
	text-transform: uppercase;
}
.tab-video{
	iframe{
		width: 90%;
	    height: 408px;
	    vertical-align: top;
	    display: inline-block;
	    max-width: 725px;
	    margin: 0 auto;
	    /* border-radius: 5px;
	    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);	 */
	    @media (max-width: 660px){
	    	height: 182px;
	    }	
	}
}

.sticky-xs-cotizacion{
	background-color: $color-red-toyota;
	padding: 10px 15px;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	text-align: center;
	overflow: hidden;
	display: none;
	ul{
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: top;
		li{
			border-right: 1px solid #fff;
			display: inline-block;
			font-family: 'ToyotaText-Bold';
			font-size: 15px;
			padding: 0 20px;
			vertical-align: top;
			a{				
				display: inline-block;
				vertical-align: top;
				color: #fff;
				padding-left: 28px;
			}
			&:last-child{
				border-right: 0;
			}
			&.icon-cotizador{
				a{
					background: url('../img/background/steering-wheel.svg') no-repeat left center;
					background-size: 19px;
				}
			}
			&.icon-car{
				a{
					background: url('../img/background/car-white.svg') no-repeat left center;
					background-size: 19px;
				}
			}
		}
	}
	@media (max-width: 660px){
		display: block;
	}
}

.main-widgets-features{
	padding: 50px 0 20px 0; 
	text-align: center;
	@media (max-width: 660px){
		padding: 30px 0 10px 0; 
	}
}
.icon-features{
	display: inline-block;
	margin: 0 15px 30px 15px;
	max-width: 100px;
	vertical-align: top;
	img{
		transition: all 0.3s ease;
		filter: grayscale(100%);
	}
	figcaption{
		clear: both;
		display: block;
		font-size: 11px;
		padding-top: 10px;
    	color: #363636;
    	line-height: 13px;
    	text-transform: uppercase;
	}
	&:hover{
		img{
			filter: grayscale(0%);
		}
		figcaption{
			color: $color-red-toyota;
		}
	}
}


.main-boutique{
	padding-top: 50px;
	h1{
		text-align: center;
		font-size: 34px;
	    display: block;
	    margin: 0 0 20px 0;
	    text-transform: uppercase;
	}
	p{
		margin: 0;
	}
	@media (max-width: 660px){
		padding-top: 30px;
		h1{
			font-size: 27px;
		}
	}
}
.leyend-boutique{
	display: block;
	clear: both;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px 20px 15px;
	text-align: center;
	@media (max-width: 660px){
		padding-bottom: 30px;
	}
}

.row-boutique-categorias{
	text-align: center;
	padding: 40px 0 40px 0;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	h2{
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 40px 0;
	}
}
.icon-categoria{
	display: inline-block;
	vertical-align: top;
	max-width: 100px;
	margin: 0 15px;
	a{
		display: block;
	}
	i{
		border: 1px solid $color-red-toyota;
		width: 100px;
		margin: 0 auto 20px;
		display: flex;
		height: 100px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;		
	}
	img{
		width: 50px;
		transition: all 0.3s ease;
		max-height: 50px;
	}
	h6{
		font-family: 'Toyota-Text-Regular';
		color: #4B4B4B;
		font-size: 16px;
		transition: all 0.3s ease;
		margin: 0 0 15px 0;
	}
	&:hover{
		i{
			img{
				width: 60px;
				max-height: 60px;	
			}			
		}
		h6{
			color: $color-red-toyota;
			transform: translateY(-5px);
		}
	}
	@media (max-width: 660px){
		max-width: 80px;
		    margin: 0 10px;
		i{
			width: 80px;
			height: 80px;
		}
	}
}
.row-productos-destacados{
	text-align: center;
	padding: 40px 0 40px 0; 
	h2{
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 20px 0;
	}
	.btn-arrow-light{
		margin-bottom: 30px;
	}
	@media (max-width: 660px){
		padding-bottom: 20px;
	}
}

.card-producto{
	max-width: 200px;
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border: 1px solid #d7d7d7;
	margin: 0 auto 30px;
	border-radius: 3px;
	text-align: center;
	a{
		display: block;
		color: #4B4B4B;
	}
	figure{
		width: 100%;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 20px;
		position: relative;
		img{
			max-height: 140px;
			max-width: 140px;
			transition: all 0.3s ease;
			width: auto;
			height: auto;
		}		
	}
	h6{
		color: #4B4B4B;
		font-size: 17px;
		margin: 0 0 20px 0;
		transition: all 0.3s ease;
		a{
			color: #4B4B4B;
		}
	}
	.figcaption, figcaption{
		border-top: 1px solid #d7d7d7;
		display: block;
		width: 100%;
		clear: both;
		padding: 10px 15px;
		color: #4B4B4B;
		min-height: 70px;
		// text-overflow:ellipsis;
		// white-space:nowrap;
		// overflow:hidden;
		p{
			font-size: 15px;
			min-height: 45px;
			max-height: 45px;
			overflow: hidden;

		}
	}
	p{
		margin: 0;
	}
	&:hover{
		figure{
			img{
				transform: translateY(-10px);
			}
		}
		h6{
			color: $color-red-toyota;
		}
	}
}

.main-boutique-ropa{
	text-align: center;
	padding: 0 0  40px 0;
}
.boutique-ropa{
	h1{
		margin-bottom: 40px;
	}	
	@media (max-width: 660px){
		h1{
			margin-bottom: 30px;
		}
	}
}
.card-ropa{
	display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 360px;
    width: 100%;
    margin: 0 auto 30px;
    border: 1px solid #d7d7d7;
    padding: 20px 0 20px 0;
    border-radius: 3px;
	figure{
		max-width: 160px;
		width: 100%;
		padding: 0 20px;	
		float: left;	
		min-height: 160px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
		img{
			max-height: 160px;
		}
	}
	h3{
		font-size: 20px;
		margin: 0 0 5px 0;
	}
	h4{
		font-size: 27px;
		margin: 0 0 5px 0;
	}
	p{
		margin: 0 0 25px 0;
	}
	.info{
		float: left;
		color: #4B4B4B;
		padding-left: 10px;
		max-width: 160px;
		width: 100%;
		position: relative;		
	}
	.btn-arrow-light{
		padding-left: 0;
		&:hover{
			color: $color-red-toyota;
			padding-right: 30px;
		}
	}
	@media (max-width: 660px){
		border: 0;
		border-top: 1px solid #d7d7d7;
		border-radius: 0;
		margin: 0;
		padding: 30px 0;
	}
}
.pagination {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            float: left;
            margin: 0 7px 10px 7px;
            a, span {
            	border: 1px solid #707070;
                background: #FFF;
                border-radius: 1px;
                color: #4B4B4B;
                height: 34px;
                line-height: 34px;
                margin: 0;
                width: 34px;
                display: block;
                font-size: 14px;
            }
            span.current {
                background: $color-red-toyota;
                color: #fff;
                border: 1px solid $color-red-toyota;
            }
            &:hover {
                a,
                span {
                    color: #fff;
                    border: 1px solid $color-red-toyota;
                }
                a {
                    background: $color-red-toyota;
                }
            }
        }
    }
}

.title-thums{
	text-align: center;
	max-width: 850px;
	margin: 0 auto 40px;
	h4{
		margin: 0;
		display: inline-block;
		vertical-align: top;
		color: #4B4B4B;
		font-size: 20px;
		position: relative;
		padding: 0 0 10px 0;
		cursor: pointer;
		&:after, &:before{
			background-color: #D6D6D6;
			width: 100%;
			margin: 0 auto;
			display: block;
			height: 4px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			content: "";
			bottom: 0;
		}
		&:before{
			background-color: $color-red-toyota;
			width: 0;
			transition: all 0.3s ease;
			z-index: 1;
		}
	}
	.swiper-slide-thumb-active{
		h4{
			color: #000;
			cursor: default;
			&:before{
				width: 100%;
			}
		}
	}
	.button-next, .button-prev{
		&:hover{
			background-color: transparent !important;
		}
		&.swiper-button-disabled{
			opacity: 0.4;
			cursor: default;
		}
	}
	.button-next{
		right: -40px;
	}
	.button-prev{
		left: -60px;
	}
	@media (max-width: 660px){
		padding: 0 35px;
		h4{
			font-size: 16px;
		}
		.button-next{
			right: 0px;
		}
		.button-prev{
			left: 0px;
		}
	}	
}

.swiper-accesorio{
	.swiper-slide{
		opacity: 0 !important;
		background-color: #fff;
		&.swiper-slide-active{
			opacity: 1 !important;
		}
	}
}

.main-car-accesorios{
	overflow: hidden;
	padding: 50px 0 40px 0;
	@media (max-width: 660px){
		border-top: 1px solid #d7d7d7;
    	padding-top: 40px;
	}
}
.card-accesorios{
	margin-bottom: 30px;
	figure{
		overflow: hidden;
		img{
			transition: all 0.3s ease;
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	h6{
		display: block;
	    text-align: center;
	    padding: 15px 10px;
	    border: 1px solid #d1d1d1;
	    border-top: 0;
	    font-size: 15px;
	    text-transform: uppercase;
	}
}

.main-details-shop{
	text-align: center;
	padding: 50px 0 80px 0;	
	h1{
		font-size: 30px;
	    display: block;
	    margin: 0 0 20px 0;
	    text-transform: uppercase;
	}
	h2{
		color: $color-red-toyota;
		font-size: 24px;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		a{
			color: $color-red-toyota;
			text-decoration: none;
		}
	}
	.swiper-pagination{
		color: #4B4B4B;
    	bottom: -45px;
    	font-size: 16px;
	}
	@media (max-width: 660px){
		padding: 30px 0 30px 0;	
		h1{
			font-size: 27px;	    	
	    	margin: 0 0 5px 0;
		}
		h2{
			margin: 0 0 30px 0;
		}
	}
}

.input-shop{
	border: 1px solid #707070;
	border-radius: 25px;
	padding: 0 10px;
	width: auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-height: 30px;
	label{
		font-weight: normal;
		font-size: 15px;
		margin: 0;
		position: absolute;
		left: 20px;
		top: -13px;
		background-color: #fff;
		padding: 0 10px;
		color: $color-red-toyota;
	}
	input[type="text"],
	input[type="number"], select{
		width: 100%;
		max-width: 50px;
		margin: 0;
		height: 45px;
		display: inline-block;
		vertical-align: top;
		background-color: transparent;
		padding: 0 5px;
		text-align: center;
		color: #4B4B4B;
		font-family: 'ToyotaText-Bold';
		text-align: center;
	}
	select{
		min-width: 130px;
		text-align: left;
		padding: 0 15px 0 20px;
		@media (max-width: 660px){
			max-width: 110px;
			min-width: 110px;
		}
	}
	.qib-button{
		display: inline-block;
		vertical-align: top;
		width: 45px;
		height: 45px;
		border: 0;
		text-align: center;
		font-family: 'ToyotaText-Bold';
		font-size: 35px;
		color: #4B4B4B;
		background: transparent;
		&:focus{
			outline: none;
		}
		&:hover{
			color: $color-red-toyota;
		}
	}
	&.input-cantidad{
		margin-right: 30px;
	}
	@media (max-width: 660px){
		&.input-cantidad{
			margin-right: 15px;	
			float: left;
		}
		&.input-talla{
			float: right;

		}
	}
}

.details-shop-ropa{
	text-align: left;
	width: 100%;
	h3{
		color: #4B4B4B;
		font-size: 27px;
		margin: 0 0 25px 0;
		text-align: left;
	}	
	@media (max-width: 660px){
		display: block;
		clear: both;
		padding-top: 30px;
		border-top: 1px solid #d7d7d7;	
		text-align: center;	
		h3{
			text-align: center;
		}
		.btn-ws{
			width: 100%;
		}
	}
	.btn-tooltip{
		margin-top: 30px;
		max-width: 200px;
		ul{
			width: 100%;
			padding: 8px 20px;
		}
		.btn-yokomotor{
			padding-top: 10px;
			padding-bottom: 10px;

		}
	}
}
.btn-whatsapp{
	background: $color-red-toyota url('../img/background/whatsapp-white.svg') no-repeat 25% center;	
	border-radius: 25px;
	color: #fff;
	padding: 12px 45px 12px 75px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.3s ease;
	margin-top: 30px;
	text-align: center;
	&:hover{
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
}
.btn-whatsapp-white{
	background: #fff url('../img/background/whatsapp-red.svg') no-repeat 15% center;
	background-size: 28px;	
	border-radius: 25px;
	border: 2px solid $color-red-toyota;
	color: #4B4B4B;
	padding: 10px 30px 10px 55px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.3s ease;
	margin-top: 30px;
	text-align: center;
	font-family: 'ToyotaText-Bold';
	&:hover{
		background-color: #fff;
		color: $color-red-toyota;
		text-decoration: none;
	}
}
.btn-red-lg{
	background: $color-red-toyota;	
	border-radius: 25px;
	color: #fff;
	padding: 12px 40px 12px 40px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	transition: all 0.3s ease;
	margin-top: 30px;
	text-align: center;
	&:hover{
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
}

.row-swiper-ropa{
	width: 100%;
	position: relative;
	max-width: 220px;
	margin: 0 auto;
	display: block;
	figure{
		img{
			max-height: 360px;
			max-width: 320px;
			width: auto;
			height: auto;
		}
	}
	.next-ropa,
	.prev-ropa{
    	border: 2px solid #C2C2C2;
    	&:hover{
    		background-color: $color-red-toyota !important;
    		border-color: $color-red-toyota;
    	}
	}
	.next-ropa{
		right: -75px;
	}
	.prev-ropa{
		left: -75px;
	}
	@media (max-width: 660px){
		max-width: 100%;
		figure{
			margin-bottom: 30px;
		}
		.pagination-ropa{
			display: inline-block;
			vertical-align: top;
			bottom: 0;
			position: relative;
			margin: 0 50px;
			line-height: 41px;
			width: auto;
		}		
		figure{
			img{
				max-height: 260px;
			}
		}
		.next-ropa,
		.prev-ropa{
			top: auto;
			bottom: 0;
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
		}
		.next-ropa{
			right: 0;
		}
		.prev-ropa{
			left: 0;
		}
		.swiper-ropa{
		    border-bottom: 1px solid #d7d7d7;
		    margin-bottom: 20px;
		}
	}
}

.main-clothes{
	padding: 50px 0 40px 0;
	border-top: 1px solid #d7d7d7;
	text-align: center;
	h2{
		text-transform: uppercase;
	    font-size: 24px;
	    margin: 0 0 40px 0;	    
	}
	@media (max-width: 660px){
		padding: 10px 15px 60px 15px;
		border: 0;
	}
}

.row-swiper-clothes{
	position: relative;
	.next-clothes{
		right: -70px;
	}
	.prev-clothes{
		left: -70px;
	}
	.pagination-clothes{
		display: none;		
	}
	@media (max-width: 660px){
		.pagination-clothes{
			display: block;
			bottom: -21px;
		}
		.next-clothes,
		.prev-clothes{
			top: auto;
			bottom: -30px;
		}
		.next-clothes{
			right: 50px;
		}
		.prev-clothes{
			left: 50px;
		}
	}
}
.clothes-details{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 660px){
    	h1, h2, .modelo-km{
    		display: none !important;
    	}
    }
}
.cont-share{
	position: relative;
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	font-family: 'ToyotaText-Bold';
	font-size: 18px;
	margin-top: 30px;
	span{
		background: url('../img/background/icon-share.svg') no-repeat left center;
		background-size: 20px;
		line-height: 48px;
		padding-left: 35px;
		cursor: pointer;
	}	
	.redes-share{
		position: absolute;
		left: 35px;
		top: 45px;
		visibility: hidden;
    	opacity: 0;
        transition: all 0.5s;
        height: 0;
	}
	&.open-share{
		span{
			color: $color-red-toyota;
		}
		.redes-share{
			height: auto;
		    visibility: visible;
		    opacity: 1;
		    transition: all 0.5s;		    
		}
	}
	@media (max-width: 660px){
		border-top: 1px solid #d7d7d7;
	    width: 100%;
	    margin: 30px auto 0;
	    text-align: center;
	    border-bottom: 1px solid #d7d7d7;
	    .redes-share{
	    	right: 0;
		    left: auto;
		    top: 14px;
	    }
	}
}
.thumbnail-clothes{
	@media (max-width: 660px){
		padding-bottom: 20px;
	}
}

.bar-return{
	border-top: 1px solid #C2C2C2;
	border-bottom: 1px solid #C2C2C2;
	width: 100%;
	clear: both;
	padding: 10px 15px;
	overflow: hidden;
}
.btn-return{
	background: url('../img/background/icon-right-arrow.svg') no-repeat left center;	
	background-size: 20px;
	color: #000;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	padding-left: 35px;
	&:hover{
		color: $color-red-toyota;
	}
}
.btn-arrow-right{
	background: url('../img/background/icon-right-arrow-red.svg') no-repeat right center;	
	background-size: 20px;
	color: #000;
	font-size: 17px;
	display: inline-block;
	vertical-align: top;
	padding-right: 35px;
	font-family: 'ToyotaText-Bold';
	&:hover{
		color: $color-red-toyota;
	}
}
.banner-accesorios-marca{
	figure{		
		width: 100%;
		img{
			width: 100%;
		}
	}
}
.main-accesorios-marcas{
	padding: 50px 0 40px 0;
	text-align: center;
	h1, h2{
		color: #000;
	    text-align: center;
	    text-transform: uppercase;		
	    display: block;
	    clear: both;
	}
	h1{
	    font-size: 45px;
	    display: block;
	    margin: 0 0 40px 0;
	}
	h2{		
	    font-size: 20px;	    
	    margin: 0 0 10px 0;	    
	}
	hr{
		border: 0;
	    border-top: 1px solid #707070;
	    max-width: 60px;
	    margin: 0 auto 20px;
	}
}

.card-marca-accesorios{
	max-width: 200px;
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border: 1px solid #d7d7d7;
	margin: 0 auto 30px;
	border-radius: 3px;
	text-align: center;	
	figure{
		width: 100%;		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		position: relative;
		overflow: hidden;
		margin: 0 0 20px 0;
		min-height: 170px;
		img{		
			height: 150px;
			max-width: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease;
		}		
	}
	h6{
		color: #4B4B4B;
		font-size: 16px;
		margin: 0;
		text-transform: uppercase;
		transition: all 0.3s ease;
		min-height: 40px;		
	}
	p{
		margin: 0 0 20px 0;
		color: #4B4B4B;
		font-size: 15px;

	}
	.figcaption, figcaption{
		border-top: 1px solid #d7d7d7;
		display: block;
		width: 100%;
		clear: both;
		padding: 10px 15px;
		color: #4B4B4B;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
	.btn-arrow-light{
		font-family: 'Toyota-Text-Regular';
		color: #4B4B4B;
		&:hover{
			color: $color-red-toyota;
			padding-right: 30px;
		}
	}	
	&:hover{
		figure{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.row-card-5{
	margin-right: -15px;
    margin-left: -15px;
    .col-cards{
    	float: left;
    	max-width: 20%;
    	width: 100%;
    	padding-left: 15px;
    	padding-right: 15px;
    }
	@media (max-width: 660px){
		margin-left: 0;
		margin-right: 0;
		.col-cards{
			max-width: 50%;
		}
	}
}
.banner-accesorios-detailed{
	padding: 40px 0 0 0;
	figure{
		display: block;
		img{
			width: 100%;
		}
	}
	h1{
		font-size: 27px;
		margin: 0 0 25px 0;		
	}
	@media (max-width: 660px){
		padding: 30px 15px 0 15px;
	}
}
.accesorios-detailed-shop{
	padding: 40px 0 45px 0;
	h2{
		font-size: 24px;
		margin: 0 0 10px 0;		
	}
	h3{
		font-size: 20px;
		margin: 0 0 10px 0;
		color: $color-red-toyota;
	}
	h4{
		font-size: 17px;
		margin: 0 0 10px 0;
		color: $color-red-toyota;
	}
	@media (max-width: 660px){
		padding: 30px 15px 40px 15px;
	}
}
.grecaptcha-badge {visibility: hidden;}
.banner-models{
	figure img{
		max-height: inherit !important;
    	min-height: auto !important;
	}
}