body, html{
	height: 100vh;	
}
.main-prehome{
	height: 100%;	
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	a{
		position: relative;
		z-index: 4;
	}
	&.disabled{
		pointer-events: none;
	}
}
.content-prehome{
	float: left;
	width: 50%;
	height: 100%;	
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    overflow: hidden;
    &:after{
    	background: rgba(0, 0, 0, 0.4);
    	content: "";
    	display: block;
    	height: 100%;
    	left: 0;
    	margin: 0 auto;
    	position: absolute;
    	right: 0;
    	top: 0;
    	width: 100%;
    	z-index: 2;
    }
    &:hover{
    	.btn-ir{
    		color: $color-red-toyota;
    		padding-right: 40px;
    	}    	
    }
    &.prehome-none{
    	cursor: default;
    	a{
    		cursor: default;
    		  pointer-events: none;	
    	}
    	.btn-ir{
    		background: none;
    		padding-right: 0;
    	}
    }
    @media (max-width: 660px){
    	width: 100%;
    	height: 50%;
    }
}
.shadow-clip-path{
	background: #fff;	
	height: 100%;	
	margin: 0 auto;
	position: absolute;	
	top: 0;
	transition: all .5s ease;
	width: 100%;
	z-index: 3;
}
.prehome-toyota{	
	background-size: cover;
	.shadow-clip-path{
		clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
		left: -100%;
	}
	&:hover{
		.shadow-clip-path{
			left: 0;
			clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
		}	
	}
}
.prehome-hino{
	background: url('../img/background/bg-yokomotor-hino.jpg') no-repeat center center;
	background-size: cover;
	.shadow-clip-path{
		clip-path: polygon(0% 0,100% 0,100% 100%,50% 100%);
		right: -100%;
	}
	&:hover{
		.shadow-clip-path{
			right: 0;
			clip-path: polygon(0% 0,100% 0,100% 100%,0% 100%);
		}	
	}
}
.content-details{
	position: relative;	
	z-index: 4;
	figure{
		margin: 80px auto 40px;
		max-width: 180px;
		img{
			max-height: 200px;
		}
	}
	.btn-ir{		
		background: url('../img/background/right-arrow-red.svg') no-repeat right center;
		background-size: 20px;
		font-family: 'ToyotaText-Bold';
		color: #fff;
		font-size: 28px;
		display: inline-block;
		vertical-align: top;
		padding-right: 30px;
		letter-spacing: 2px;
		transition: all .3s ease;
	}
	@media (max-width: 660px){
		figure{
			margin-top: 30px;
			margin-bottom: 30px;
			max-width: 130px;
			img{
				max-height: 130px;
			}
		}
	}
}

