.step-simulator-tabs{
	width: 100%;
	clear: both;
	display: block;
	text-align: center;
	margin: 0 auto 50px;
	border-bottom: 1px solid #e7e7e7;
	padding: 0 0 25px 0;
	list-style: none;
	li{
		float: left;
		margin: 0 0;
		font-family: 'ToyotaText-Bold';
		padding: 0 5px;
		width: 33.333%;
		position: relative;
		a{
			display: inline-block;
			vertical-align: top;
			color: #000;
			width: 100%;
		}
		span{
			color: #000;
			font-size: 15px;
			width: 100%;
			clear: both;
			display: block;
			@media (max-width: 660px){
				line-height: 17px;
			}
		}
		i{
			width: 40px;
			height: 40px;
			cursor: default;
			background: #ddd;
			text-align: center;
			font-size: 16px;
			border-radius: 50%;
			display: block;
			color: #4B4B4B;
			line-height: 40px;
			margin: 0 auto 15px;
			display: block;
			font-style: normal;
			&:focus, &:hover{
				outline: none;
			}
		}
		&.active, &.current, &.ui-tabs-active{
			i{
				background: $color-red-toyota;
				color: #fff;
			}
			&:after{
				width: 100%;
			}
		}
		&:first-child{
			margin-left: 0;
		}
		&:after{
			width: 0;
			background: $color-red-toyota;
			height: 2px;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			content: ""; 
			display: block;
			bottom: -26px;
			overflow: hidden;
			transition: all 0.4s  ease-in-out;
		}
	}
	@media (max-width: 660px){
		padding-left: 15px;
	}
}

.main-simulador{
	.main-form-fieldset {
		input[type="file"]{
			margin-top: 5px;
    		margin-bottom: 5px;
		}
	}
	.row-step-cotizador{
		h2{
			font-size: 22px;
		    margin: 0 0 38px 0;
		    display: block;
		    clear: both;
		    color: #000;
		    padding: 0 15px;
		}
		h3{
			font-size: 18px;
		    margin: 0 0 25px 0;
		    display: block;
		    clear: both;
		    color: #000;
		    text-align: left;
		    padding: 0 15px;
		}
		@media (max-width: 660px){
			h2, h3{
				br{display: none;}
			}
		}
	}
	.step-simulador-2,
	.step-simulador-3{		
		.volver-step{
			float: none;
			margin: 0 50px 25px 0;
			display: inline-block;
			vertical-align: top;
		}		
	}
}