.main-categoria-usados{
	padding: 0px 0 50px 0;
	text-align: center;
	h2{
		text-transform: uppercase;
	    font-size: 30px;
	    margin: 0 0 40px 0;
	    padding: 0 30px;
	}	
	@media (max-width: 660px){
		border-top: 1px solid #d7d7d7;
		padding-top: 40px;
		padding-bottom: 30px;
		h2{
			font-size: 25px;
		}
	}	
}
.banner-usados{
	figure{
		&:after{
			width: 100%;
			height: 100%;
			content: "";
			background: rgba(0, 0, 0, 0.4);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}		
	}
}
.wrap-banner-usados{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 100px;
	color: #fff;
	text-align: left;
	max-width: 1100px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
	height: 100%;	
	top: 0;
	h1, h2{
		text-transform: uppercase;
		font-size: 35px;
		margin: 0 0 20px 0;
		color: #fff;
	}
	h4{
		font-size: 20px;
		margin: 0 0 35px 0;
	}
	h6{
		font-family: 'Toyota-Text-Regular';
		font-size: 14px;
		margin: 0 0 35px 0;
		text-align: left;
	}
	p{
		color: #fff;
		font-size: 18px;
		margin: 0 0 30px 0;
		display: block;
		line-height: 23px;
	}
	.details-banner-usados{
		max-width: 500px;
	}

	@media (max-width: 660px){
		text-align: center;		
		padding: 30px 15px 0 15px;
		h1, h2{font-size: 30px;}
		h6{
			text-align: center;
		}
		p{
			font-size: 16px;
			line-height: 20px;
		}
		.btn-yokomotor{
			width: 130px;
		    bottom: 50px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    display: block;
		    position: absolute;
		}
	}
}

.banner-usados-all{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 100px;
	color: #fff;
	text-align: left;
	max-width: 1100px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
	height: 100%;	
	top: 0;
	h1, h2{
		text-transform: uppercase;
		font-size: 35px;
		margin: 0 0 20px 0;
		color: #fff;
	}
	h4{
		font-size: 20px;
		margin: 0 0 35px 0;
	}	
	p{
		color: #fff;
		font-size: 18px;
		margin: 0 0 30px 0;
		display: block;
		line-height: 23px;
	}
	.details-banner-usados{
		max-width: 500px;
		position: absolute;
	    left: 0;
	    top: 35%;
	    @media (max-width: 660px){
	    	width: 100%;
	    	top: auto;
	    	bottom: 40px;
	    	padding: 0 15px;
	    }
	}
	@media (max-width: 660px){
		text-align: center;		
		padding: 30px 15px 0 15px;
		h1, h2{font-size: 30px;}
		h6{
			text-align: center;
		}
		p{
			font-size: 16px;
			line-height: 20px;
		}		
	}
}
.icon-categoria-usados{
	display: inline-block;
	vertical-align: top;
	max-width: 110px;
	margin: 0 auto;
	text-align: center;
	a{
		display: block;
	}
	i{
		border: 1px solid #4B4B4B;
		width: 110px;
		margin: 0 auto 20px;
		display: flex;
		height: 110px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;		
	}
	img{
		width: 70px;
		transition: all 0.3s ease;
		max-height: 70px;
	}
	h6{
		font-family: 'Toyota-Text-Regular';
		color: #4B4B4B;
		font-size: 16px;
		transition: all 0.3s ease;
		margin: 0 0 15px 0;
	}
	&:hover{
		i{
			border: 1px solid $color-red-toyota;			
			img{
				width: 80px;
				max-height: 80px;	
			}			
		}
		h6{
			color: $color-red-toyota;
			transform: translateY(-5px);
		}
	}
	@media (max-width: 660px){
		max-width: 80px;
		    margin: 0 10px;
		i{
			width: 80px;
			height: 80px;
			img{
				width: 60px;
				max-height: 50px;	
			}
		}
	}
}
.cart-usado-destacado{
	max-width: 200px;
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border: 1px solid #d7d7d7;
	margin: 0 auto 30px;
	border-radius: 3px;
	text-align: center;
	a{
		display: block;
		color: #4B4B4B;
	}
	figure{
		width: 100%;
		max-width: 190px;
		max-height: 140px;		
		flex-wrap: wrap;
		padding: 0;
		position: relative;
		overflow: hidden;
		img{
			max-height: 180px;
			max-width: 200px;
			min-height: 140px;
			transition: all 0.3s ease;
			width: 100%;
			height: auto;
			
		}		
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		@media (max-width: 660px){
			height: auto;
			img{
				max-height: 135px;
			}

		}
	}
	h6{
		color: #000;
		font-size: 18px;
		margin: 0 0 20px 0;
		transition: all 0.3s ease;
		padding-top: 20px;
		a{
			color: #000;
		}
	}
	.figcaption, figcaption{
		border-top: 1px solid #d7d7d7;
		display: block;
		width: 100%;
		clear: both;
		padding: 10px 15px;
		color: #4B4B4B;
		min-height: 70px;		
		p{
			font-size: 15px;
			min-height: 45px;
			max-height: 45px;
			overflow: hidden;

		}
	}
	p{
		margin: 0;
	}
	&:hover{		
		h6{
			color: $color-red-toyota;
		}
	}
}
.main-usados-destacados{
	padding: 50px 0 40px 0;
    border-top: 1px solid #d7d7d7;	
	text-align: center;
	h3{
		text-transform: uppercase;
	    font-size: 30px;
	    margin: 0 0 40px 0;
		padding: 0 10px;
	}
	.btn-arrow-right{
		margin-top: 10px;
	}
	@media (max-width: 660px){
		padding: 40px 15px 50px 15px;
		h3{
			font-size: 25px;
			margin-bottom: 10px;
		}
		.btn-arrow-right{
			margin-bottom: 30px;
		}
	}
	&.relacionados-car{
		@media (max-width: 660px){
			h3{
				margin-bottom: 30px;
			}
		}
	}
}
.main-marcas-usados{
	padding: 50px 0 60px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
    h3{
		text-transform: uppercase;
	    font-size: 30px;
	    margin: 0 0 40px 0;
	    padding: 0 15px;
	}
	@media (max-width: 660px){
		padding: 40px 0 40px 0;
		h3{
			font-size: 25px;
		}
	}
}

.marcas-circle{
	background-color: #DFDFDF;
	display: inline-block;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	transition: all 0.3s ease;
	a{
		display: block;
	}
	i{
		width: 110px;
	    height: 110px;
	    display: flex;
	    padding: 20px;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	    img{
	    	max-height: 65px;
	    	transition: all 0.3s ease;
	    }
	}
	&:hover{
		background-color: #edecec;
		img{
			transform: scale(1.1);
		}
	}
    @media (max-width: 660px){
    	width: 80px;
    	height: 80px;
    	i{
	    	width: 80px;
	    	height: 80px;
	    	img{
	    		max-height: 55px;
	    	}	
    	}
    }
}
.carrousel-marcas{
	max-width: 700px;	
}
.main-usados-pqrs{
	text-align: center;
	padding: 0 0 60px 0;
	h3{
		text-transform: uppercase;
	    font-size: 30px;
	    margin: 0 0 40px 0;
	}
	@media (max-width: 660px){
		padding-bottom: 40px;
	}
}
.banner-pqrs{
	background: #000;
	background-size: cover !important;
    padding: 70px 40px;
    position: relative;    
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 270px;
    article{
    	text-align: left;
	    color: #fff;
	    max-width: 550px;
	    position: relative;
	    z-index: 1;
    }
    h2, h3, h4{
    	font-size: 30px;
	    margin: 0 0 25px 0;
	    display: block;
	    clear: both;
    }
    &:after {
	    width: 100%;
	    height: 100%;
	    content: "";
	    background: rgba(0, 0, 0, 0.3);
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	}
	@media (max-width: 660px){
		padding: 30px 15px;
		min-height: 180px;
		h2, h3, h4{font-size: 25px;}
	}
	.btn-yokomotor-arrow{
		position: absolute;
	    left: 0;
	    right: 0;
	    width: 135px;
	    margin: 0 auto;
	    bottom: 45px;
	    z-index: 1;
	}
}
.banner-marcas-ppal{
	background: #000;
	background-size: cover !important;
    padding: 70px 40px;
    position: relative;    
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 270px;
    article{
    	text-align: left;
	    color: #fff;
	    max-width: 550px;
	    position: relative;
	    z-index: 1;
    }
    h2, h3, h4{
    	font-size: 30px;
	    margin: 0 0 80px 0;
	    display: block;
	    clear: both;
	    padding: 0 0;
    }
    &:after {
	    width: 100%;
	    height: 100%;
	    content: "";
	    background: rgba(0, 0, 0, 0.3);
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	}
	@media (max-width: 660px){
		padding: 30px 15px;
		margin-bottom: 30px;
		min-height: auto;
		h2, h3, h4{
			font-size: 33px;
			margin-bottom: 45px;
		}
	}	
}
.row-swiper-usados{
	max-width: 700px;	
}    
.main-usados-nuevos{
	position: relative;
	article{
		max-width: 1100px;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;		
		text-align: center;
		color: #fff;
		margin: 0 auto;
		height: 100%;
		padding: 35px 0 0 0;
	}
	img{
		width: 100%;
	}
	h2, h3{
		font-size: 33px;
	    margin: 0 0 25px 0;
	    display: block;
	    clear: both;
	    padding: 0 30px;
	}
	.btn-yokomotor{
		position: absolute;
	    left: 0;
	    right: 0;
	    width: 130px;
	    margin: 0 auto;
	    bottom: 45px;
	}
	@media (max-width: 660px){
		h2, h3{

		}
	}
}

.main-shop-cart-old{
	text-align: center;
	padding: 50px 0 80px 0;	
	h1{
		font-size: 30px;
	    display: block;
	    color: #000;
	    margin: 0 0 10px 0;
	    text-transform: uppercase;
	}
	h2{
		color: $color-red-toyota;
		font-size: 22px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
		a{
			color: $color-red-toyota;
			text-decoration: none;
		}
	}
	ul.modelo-km{
		width: 100%;
		clear: both;
		list-style: none;
		padding: 0;
		margin: 0 0 20px 0;
		overflow: hidden;
		li{
			float: left;
			color: $color-red-toyota;
			font-size: 20px;			
			text-transform: uppercase;
			font-family: 'ToyotaText-Bold';
			margin-right: 15px;
			padding-right: 15px;
			position: relative;
			&:after{
				background: $color-red-toyota;
				content: "";
				position: absolute;
				right: -1px;
				width: 2px;
				height: 16px;
				top: 50%;
				margin-top: -8px;
			}
			a{
				color: $color-red-toyota;
				text-decoration: none;
			}
			&:last-child{
				margin-right: 0;
				padding-right: 0;
				border: 0;
				&:after{display: none;}
			}
		}
		@media (max-width: 660px){
			width: auto;
			display: inline-block;
			vertical-align: top;
		}
	}
	.swiper-pagination{
		color: #4B4B4B;
    	bottom: -45px;
    	font-size: 16px;
	}
	@media (max-width: 660px){
		padding: 30px 0 30px 0;	
		h1{
			font-size: 27px;	    	
	    	margin: 0 0 5px 0;
		}
		h2{
			margin: 0 0 30px 0;
		}
	}
}

.details-cart-old{
	text-align: left;
	width: 100%;
	h3{
		color: #000;
		font-size: 27px;
		margin: 0 0 25px 0;
		text-align: left;
	}	
	@media (max-width: 660px){
		display: block;
		clear: both;
		padding-top: 30px;
		border-top: 1px solid #d7d7d7;	
		text-align: center;	
		h3{
			text-align: center;
			margin-bottom: 0;
		}
		.btn-ws{
			width: 100%;
		}
	}
	.btn-tooltip{
		margin-top: 30px;
		max-width: 200px;
		ul{
			width: 100%;
			padding: 8px 20px;
		}
		.btn-yokomotor{
			padding-top: 10px;
			padding-bottom: 10px;

		}
	}
	.btn-red-lg, .btn-whatsapp-white{
		min-width: 185px;
	}
	.btn-whatsapp-white{
		margin-left: 15px;
	}
	@media (max-width: 660px){
		.btn-red-lg, .btn-whatsapp-white{
			min-width: auto;
			font-size: 13px;
		}
		.btn-red-lg{
			padding: 12px 30px 12px 30px;
		}
		.btn-whatsapp-white{
			padding: 10px 30px 10px 40px;
			margin-left: 5px;
			background-size: 20px;
    		background-position: 10% center;
		}
	}
}
.row-swiper-old{
	width: 100%;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	figure{
			border-radius: 0;
			overflow: hidden;
			padding: 0 0;
		img{
			max-height: 380px;
			max-width: 420px;
			width: auto;
			height: auto;
		}
	}
	.next-ropa,
	.prev-ropa{
    	border: 2px solid #C2C2C2;
    	&:hover{
    		background-color: $color-red-toyota !important;
    		border-color: $color-red-toyota;
    	}
	}
	.next-ropa{
		right: 15px;
	}
	.prev-ropa{
		left: 15px;
	}
	@media (max-width: 660px){
		max-width: 100%;
		figure{
			margin-bottom: 0;
		}
		.pagination-ropa{
			display: inline-block;
			vertical-align: top;
			bottom: 0;
			position: relative;
			margin: 0 50px;
			line-height: 41px;
			width: auto;
		}		
		figure{
			img{
				max-height: 260px;
			}
		}
		.next-ropa,
		.prev-ropa{
			top: auto;
			bottom: 0;
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
		}
		.next-ropa{
			right: 0;
		}
		.prev-ropa{
			left: 0;
		}
		.swiper-ropa{
		    border-bottom: 1px solid #d7d7d7;
		    margin-bottom: 20px;
		}
	}
}

.caracteristicas-cart-old{
	padding: 50px 0 60px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
	h6{
		text-transform: uppercase;
		font-size: 23px;
		// color: #4B4B4B;
		color: #000;
		margin: 0 0 40px 0;		
	}
	@media (max-width: 660px){
		padding: 40px 15px 30px 15px;
		h6{
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
}

.row-old-table{
	width: 100%;
	clear: both;
	max-width: 600px;
	margin: 0 auto 40px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	.tr{
		width: 100%;
		clear: both;
		overflow: hidden;
		color: #313131;
		margin-bottom: 1px;
		.td{
			padding: 10px 25px;
			float: left; 
			text-align: left;
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    min-height: 45px;
			&:nth-child(2n+1){
				width: 40%;				
				font-size: 16px;
			}
			&:nth-child(2n){
				width: 60%;
				font-size: 15px;				
			}
		}
		&:nth-child(2n+1){
			background-color: #f5f5f5;
			.td{
				&:nth-child(2n+1){
					background: #ebebeb;
				}
				&:nth-child(2n){
					background: #f5f5f5;
				}
			}
		}
		&:nth-child(2n){
			.td{
				&:nth-child(2n+1){
					background: #f5f5f5;
				}
				&:nth-child(2n){
					background: #fff;
				}
			}
			
		}
	}
}

.main-mns-car{
	padding: 50px 0 40px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
    h4{
    	font-size: 22px;
    	margin: 0 0 20px 0;
    }
    article{
    	width: 100%;
		clear: both;
		max-width: 600px;
		margin: 0 auto;
		overflow: hidden;
		text-align: left;
    }
    @media (max-width: 660px){
    	padding: 30px 15px 20px 15px;
    	h4{
    		font-size: 18px;
    	}
    }
}

.btn-fixed-mns{
	background: $color-red-toyota !important;
	color: #fff;
	display: block;
	font-family: 'ToyotaText-Bold';
	font-size: 18px;
	padding: 10px 5px;
	position: sticky;
	text-align: center;
	width: 100%;
    bottom: 0;
    z-index: 4;
    display: none;
	span{
		background: url('../img/background/icon-mns-white.svg') no-repeat left center;
		background-size: 25px;
		display: inline-block;
		vertical-align: top;
		padding: 5px 0 5px 35px;
		color: #fff;
	}
	&:hover{
		color: #fff;
		text-decoration: none;
		span{
			color: #fff;
			text-decoration: none;
		}
	}
	@media (max-width: 660px){
		display: block;
	}
}

.lightbox-usados {
    max-width: 700px;
    padding: 35px 10px 10px 30px;
    border-radius: 15px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    text-align: center;
    border: 1px solid #ebebeb;
    .cerrar{
		background: url('../img/background/close-red.svg') no-repeat center left;
		background-size: 10px;
		position: absolute;
		right: 10px;
		top: 5px;
		font-family: 'ToyotaText-Bold';
		font-size: 15px;
		padding-left: 20px;
		color: #000;		
	}
	h6{
		font-size: 20px;
		text-transform: uppercase;
		margin: 0 0 20px 0;
		text-align: center;
		padding-top: 10px;
	}
	@media (max-width: 660px) {
	    width: 100%;
	    padding: 40px 0px 10px 0px;
	    height: 100%;
	    overflow: scroll;
	    border-radius: 0;
	    h6{
	    	font-size: 17px;
	    }
	}
}
@media (max-width: 660px){
    .modal-center-xs{
    	padding: 0 0 !important;
    }	
}
.modal-caracteristicas{
	display: block;
	width: 100%;
	clear: both;
	text-align: left;
	height: 450px;
	overflow: auto;
	padding-right: 10px;
	h3, h2{
		font-size: 17px;
		text-transform: uppercase;
		margin: 0 0 15px 0;
		text-align: center;
	}
	ul{
		list-style: none;
		margin: 0 0 20px 0;
		padding: 1px 0 0 0;
		overflow: hidden;
		li{
			display: block;
		    font-size: 14px;
		    margin: -1px -1px 0px 0;
		    width: 50%;
		    float: left;
		    padding: 5px 0 5px 20px;
		    border: 1px solid #ebebeb;
		    @media (max-width: 660px){
		    	width: 100%;
		    	margin: 0;
		    	border: 0;
		    	border-bottom: 1px solid #ebebeb;
		    	padding: 5px 10px;
		    }
		}
	}
	.row-old-table{
		max-width: 100%;
		margin-bottom: 20px;
	}
	@media (max-width: 660px){
		padding: 0 15px;
		height: 100%;
		h2, h3{
			text-align: left;
			margin-bottom: 5px;
		}
	}
}

.card-cart-old{
	display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 360px;
    width: 100%;
    margin: 0 auto 30px;
    border: 1px solid #d7d7d7;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;    
	figure{
		max-width: 100%;
		width: 100%;
		padding: 0 0;	
		float: left;	
		min-height: 160px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
		margin-bottom: 20px;
		overflow: hidden;
		border-radius: 8px;
	    a{
	    	display: block;
	    	width: 100%;
	    }
		img{
			max-height: 160px;
			object-fit: cover;
			width: 100%;
			transition: all 0.3s ease;
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		@media (max-width: 660px){
			max-width: 160px;
			margin-bottom: 0;
			img{
				max-height: 160px;
			}			
		}
		
	}
	h3{
		font-size: 16px;
		margin: 0 0 5px 0;
	}
	h4{
		font-size: 25px;
		margin: 0 0 5px 0;
		@media (max-width: 660px){
			font-size: 22px;
		}
	}
	p{
		margin: 0 0 15px 0;
		font-size: 14px;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0 0 5px 0;
		width: 100%;
		clear: both;
		overflow: hidden; 
		li{
			font-size: 14px;
			float: left;
			padding: 0 6px;
			margin: 0 6px 0 6px;
			position: relative;
			&:after{
				content: "|";
				position: absolute;
			    right: -7px;
			    top: 0;
			}
			&:first-child{
				padding-left: 0;
				margin-left: 0;
			}
			// &:last-child{
			// 	padding-right: 0;
			// 	margin-right: 0;
			// 	&:after{display: none;}
			// }
		}
	}
	.info{
		float: left;
		color: #000;
		padding: 0 0;
		max-width: 100%;
		width: 100%;
		position: relative;	
		@media (max-width: 660px){
			max-width: 160px;			
			padding: 0 0 0 15px;
		}	
	}
	.btn-arrow-light{
		padding-left: 0;
		&:hover{
			color: $color-red-toyota;
			padding-right: 30px;
		}
	}
	@media (max-width: 660px){
		border: 0;
		border-top: 1px solid #d7d7d7;
		border-radius: 0;
		margin: 0;
		padding: 30px 0;
	}
}

.main-cart-all{
	padding: 30px 0 40px 0;
	@media (max-width: 660px){
		padding-top: 0;
	}
}

.main-filter-usados-xs{
	padding: 5px 0 0 0;
	margin: 0;
	display: none;
	.content-tabs-filter{
		position: absolute;
	    background: #fff;
	    bottom: 0px;
	    width: 90%;
	    padding: 25px 20px 20px 20px;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	    border-radius: 10px 10px 0 0;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	    visibility: hidden;
	    transition: all 0.5s;
	    opacity: 0;
	    &.open-orderby{
	    	height: auto;
		    visibility: visible;
		    opacity: 1;
		    transition: all 0.5s;
		    bottom: 47px;
	    }
	}
	.cerrar{
		background: url('../img/background/close-red.svg') no-repeat center center;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid $color-red-toyota;
		text-indent: -9999px;
		position: absolute;
		right: 10px;
		top: 10px;
		background-size: 8px;
	}
	@media (max-width: 660px){
		display: block;
		position: sticky;
    	bottom: 0;
    	z-index: 7;
    	padding: 0;
	}
	.tabs-filter-all{
		.info-tabs-filter{
			margin-bottom: 0;
			padding-bottom: 5px;
		}		
	}
}
.sticky-bar-filter-red {    
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    overflow: hidden;
    display: block;
    ul{
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	li{
    		float: left;
    		margin-right: 10px;
    		font-size: 16px;
    		font-family: 'ToyotaText-Bold';
    		display: block;
    		a{
    			background-color: $color-red-toyota !important;
    			padding: 8px 25px;
    			color: #fff;
    			display: block;
    		}
    		&:last-child{
    			margin-right: 0;
    			&:after{
    				display: none !important;
    			}
    		}
    		&.icon-orderby{
    			a{
    				background: url('../img/background/orden-descendiente.svg') no-repeat 15px center;
    				background-size: 15px;
    				padding-left: 43px;
    			}
    		} 
    		&.icon-filter{
    			a{
    				background: url('../img/background/filtrar-white-usado.svg') no-repeat 15px center;
    				background-size: 15px;
    				padding-left: 43px;
    			}
    		}    		
    	}
    }
    @media (max-width: 660px){  
    	background-color: $color-red-toyota;
    	ul{
    		li{
    			width: 50%;
    			border-right: 0;
    			margin: 0;
    			position: relative;
    			&:after{
    				width: 1px;
    				height: 20px;
    				background-color: #fff;
    				content: "";
    				position: absolute;
    				right: 0;
    				top: 50%;
    				margin-top: -10px;
    			}
    			a{
    				padding: 12px 25px;
    				display: inline-block;
    				vertical-align: top;
    			}
    		}
    	}
    }
}

.swiper-pagination-fraction.swiper-pagination-lock{
	display: none !important;
}
.filter-cart-left{
	max-width: 250px;
	width: 100%;
	margin-right: 30px;
	float: left;
	h3, h4{
		text-transform: uppercase;
		font-size: 17px;
		margin: 0 0 10px 0;
	}
	@media (max-width: 660px){
		display: none;
	}
}
.wrap-cart-right{
	max-width: 820px;
	width: 100%;
	float: left;
	@media (max-width: 660px){
		max-width: 100%;
		clear: both;
	}
}
.orderby-filter-tabs{
	margin-bottom: 30px;
	background: #f9f9f9;
    padding: 20px 15px 0 15px;
    border-radius: 5px;
}
.content-tabs-filter{
}
.items-orderby{
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	li{
		display: block;
		clear: both;
		width: 100%;
		position: relative;
		a{
			display: block;
		    color: #000;
		    padding: 8px 15px 8px 5px;
		    border-bottom: 1px solid #ededed;
		    font-size: 14px;
		    position: relative;
		    transition: all 0.3s ease;
		    &:after{
		    	background: $color-red-toyota;
		    	width: 3px;
		    	height: 80%;
		    	content: "";
		    	position: absolute;
		    	left: 0;
		    	top: 10%;
		    	transition: all 0.3s ease;
		    	opacity: 0;
		    }
		}
		span{
			float: right;
			font-family: 'ToyotaText-Bold';
			position: relative;
			font-size: 12px;
			top: 2px;
		}
		&:last-child{
			a{
				border-bottom: 0;
			}
		}
		&:hover, &.active, &.current{
			a{
				color: $color-red-toyota;
				padding-left: 20px;
				&:after{
					opacity: 1;	
				}
			}
		}

	}
}

.tabs-filter-all{	
	h4{
		background: url('../img/background/arrow-nav-gray.svg') no-repeat right center;		
		background-size: 12px;
		font-size: 15px;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		text-transform: none;
		width: 100%;
		clear: both;
		cursor: pointer;
		padding: 15px 15px;
		color: $color-red-toyota;
		&.ui-accordion-header{
			border-bottom: 1px solid #d7d7d7;
		}
		&:hover, &:focus{
			outline: none;
		}
		&.open-nav, &.ui-state-active{
			border-bottom: 1px solid #d7d7d7;
			background: url('../img/background/icon-btn-arrow-red.svg') no-repeat right center !important;
			background-size: 7px !important;
		}
		&.ui-state-active{
			border-bottom-color: transparent; 
		}
		@media (max-width: 660px){
			font-family: 'Toyota-Text-Regular';
		}
	}	
}
.info-tabs-filter{	
	width: 100%;
    clear: both;
    overflow: hidden;
    background: #f9f9f9;
    padding: 15px 15px 0 15px;
    border-radius: 5px;
    margin-bottom: 10px;
	select{
		width: 100%;
	    border-radius: 10px;
	    background-color: #f7f7f7;
	    border: 1px solid #d9d9d9;
	    height: 35px;
	    padding: 0 15px;
	    max-width: 100%;
	    margin: 0 0 20px 0;
	    font-size: 15px;
	}
}

.row-range{
	input[type="text"], input[type="number"]{
		width: 48%;
	    float: left;
	    background-color: #f7f7f7;
    	border: 1px solid #d9d9d9;
	    padding: 0 10px;
	    height: 35px;
	    text-align: center;	    
	    font-size: 13px;
	    border-radius: 25px;
	    background-color: #fff;
	    margin: 0 0 15px 0;
	    font-family: 'ToyotaText-Bold';
	    color: #727272;
	    &.val-max,
	    &.val-max-meters{
	    	float: right !important;
	    }		
	}
	h6{
		font-size: 14px;
	    margin: 0 0 15px 0;
	    display: inline-block;
	    vertical-align: top;
	    text-transform: none;	    
	    padding: 0;
	    float: left;
	    &.val-max{
	    	float: right;
	    }
	}
	.btn-aplicar{
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.range-slide {
    display: block;
    clear: both;
    margin-bottom: 20px;
    .ui-slider-horizontal {
	    height: 3px;
	    border: 0 !important;
	    background: #d1d1d1 !important;
	    position: relative;
	    clear: both;
	}
	.ui-widget-header {
	    background: $color-red-toyota;
	    top: 0;
	    height: 100%;
	    position: absolute;
	}
	.ui-slider-handle {
	    background:  #fff !important;
	    border: 1px solid $color-red-toyota !important;
	    border-radius: 50% !important;
	    width: 16px !important;
	    height: 16px !important;
	    top: -7px !important;
	    position: absolute;
	    margin-left: -0.6em;
	}

	#val-min, #val-max{
		font-size: 11px;
	}
}

.wpcf7-spinner{
	display: none !important;
}

.wpcf7 form.sent .wpcf7-response-output{
	border: none !important;
	color: #fff !important;
    text-align: center !important;
}