.main-modelos-carrousel{
	text-align: center;
	padding: 40px 0 40px 0;
	border-bottom: 1px solid #C2C2C2;
	h1, h2{
		font-size: 24px;
		margin: 0 0 40px 0;
	}
	.col-swiper-modelos{
		max-width: 570px;
		margin: 0 auto;
		.swiper-slide-active{
			hr{
				background-color: #eb0a1e;
			}
		}
	}
	.next-white, .prev-white{
		border: 2px solid #C2C2C2;
		position: relative;
		top: 0;
		margin-top: 25px;
		display: inline-block;
		vertical-align: top;
		&.swiper-button-disabled{
			background-color: #C2C2C2 !important;
			opacity: 0.5;
			cursor: default;
			pointer-events: none;
		}
	}
	.next-white{
		margin-left: 40px;
	}
	.prev-white{
		margin-right: 50px;
	}
	.modelo-pagination{
		display: inline-block;
	    vertical-align: top;
	    width: auto;
	    position: relative;
	    margin: 32px 0 0 0;
	    bottom: 0;
	}
}
.card-modelo-small{
	margin: 0 auto;
	display: block;	
	text-align: center;
	width: 100%;
	max-width: 190px;
	hr{
		transition: all 0.3s ease;
		width: 70%;
		margin: -7px auto 10px;
		display: block;
		height: 3px;
		background-color: transparent;
		position: relative;
		z-index: 1;
		border: 0;
	}
	a{
		display: block;
	}
	figure{
		display: block;
		margin: 0 0 10px 0;
		width: 100%;
		img{
			max-height: 80px;
			transition: all 0.3s ease;
		}
	} 
	h3{
		clear: both;
		color: #4B4B4B;
		display: block;
		font-family: 'Toyota-Text-Regular';
		font-size: 15px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: all 0.3s ease;
	}
	&:hover{
		hr{
			background-color: #eb0a1e;
		}
		figure{
			img{
				transform: scale(1.1);
			}
		}
		h3{
			color: #eb0a1e;			
		}
	}
}	

.main-modelos-color{
	text-align: center;
	padding: 40px 0 40px 0;
	border-bottom: 1px solid #C2C2C2;
	h1, h2{
		font-size: 24px;
		margin: 0 0 20px 0;
		text-transform: uppercase;
		span{
			font-family: 'Toyota-Text-Regular';
			display: block;
			clear: both;
		}
	}
	.col-modelos-color{
		max-width: 580px;
		margin: 0 auto;
		figure{
			background-color: #fff;	
		}
	}
	.swiper-car-color{
		margin-bottom: 20px;
		.swiper-slide{
			opacity: 0;
			background-color: #fff;
			&.swiper-slide-active{
				opacity: 1;
			}
		}
	}
	.swiper-thums-color{
		max-width: 240px;
		margin: 0 auto;
		display: block;
		.swiper-slide-thumb-active{
			.bullet-color{
				transform: scale(1);
			}			
		}
	}
	.next-color,
	.prev-color{
		background-size: 15px !important;
		width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    position: absolute;
	    bottom: 0;
	    margin-top: -20px;
	    z-index: 3;
	    cursor: pointer;
	    transition: all 0.3s ease;
	}
	.next-color{
		background: url('../img/background/next-black.svg') no-repeat center center;
		right: 110px;
		@media (max-width: 660px){
			right: 0;
		}
	}
	.prev-color{
		background: url('../img/background/next-black.svg') no-repeat center center;
		transform: rotate(178deg);
		left: 110px;
		@media (max-width: 660px){
			left: 0;
		}
	}
}
.bullet-color{
	border: 2px solid #cccccc;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	transform: scale(0.8);
	transition: all 0.4s ease;
}

.full-ball-planes{
	background-color: #2E2A25;
	width: 100%;
	clear: both;
	display: block;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	h3{
		font-size: 23px;
		margin: 0 0 30px 0;
	}
	@media (max-width: 660px){
		padding: 30px 15px;
	}
}

.col-btns{
	padding: 40px 0 0 0;
	.btn-cotizar,
	.btn-ficha{
		background: #eb0a1e;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #fff;
	    font-size: 14px;
	    padding: 10px 20px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 1px solid #eb0a1e;
	    min-width: 150px;
	    margin: 0 10px;
	}
	.btn-ficha{
		color: #eb0a1e;
		background: #fff;
	}
}

.main-features-specs{
	padding: 50px 0 40px 0;
	text-align: center;
	border-bottom: 1px solid #C2C2C2;
	@media (max-width: 660px){
		padding-bottom: 30px;
	}
}
.title-tabs-line{
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
	clear: both;
	width: 100%;
	li{
		margin: 0 10px;
		font-family: 'ToyotaText-Bold';		
		width: auto;
		display: inline-block;
		vertical-align: top;
		font-size: 18px;
		position: relative;
		a{
			display: block;
			color: #4B4B4B;
			&:after{
				background: #eb0a1e;
			    bottom: -5px;
			    content: "";
			    display: block;
			    height: 3px;
			    left: 0;
			    margin: 0 auto;
			    position: absolute;
			    right: 0;
			    transition: all 0.5s ease;
			    width: 0%;
			}
		}
		&.ui-tabs-active{
			a:after{
				width: 100%;
			}
		}
	}
	&.title-tabs-small{
		li{
			margin: 0 30px;
			font-size: 15px;
			@media (max-width: 660px){
				margin: 0 20px;
			}
		}
	}
}

.content-features{
	clear: both;
	width: 100%;
	h2{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
	.pagination-diseno{
		position: relative;
		bottom: 0;
    	margin-top: 20px;
    	display: inline-block;
    	vertical-align: top;
    	width: auto;		
	}
}

.content-specs{
	h2{
		font-size: 22px;
		margin: 0 0 30px 0;
	}
}

.content-exterior{
	position: relative;
	.next-exterior{
		right: 40px;
		@media (max-width: 660px){
			right: -20px;
		}

	}
	.prev-exterior{
		left: 40px;
		@media (max-width: 660px){
			left: -20px;
		}
	}
	.next-exterior,
	.prev-exterior{
		display: inline-block;
		vertical-align: top;
		&:hover{
	    	background-color: #eb0a1e !important;			
		}
		&.swiper-button-disabled{
			opacity: 0.5;
			pointer: default;
		}		
	}
	@media (max-width: 660px){
		figure{
			margin-bottom: 10px;
			img{
				min-height: 250px;
				object-fit: cover;
			}
		}
		.next-exterior,
		.prev-exterior{
			position: relative;
			margin-top: 15px;
			border: 2px solid #B2B2B2;			
		}
	}
}

.col-360{
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid #C2C2C2;
	.btn-360{
		background: #fff url('../img/background/360.svg') no-repeat 25px center;
		background-size: 25px;
	    display: inline-block;
	    vertical-align: top;
	    border-radius: 20px;
	    color: #000;
	    font-size: 14px;
	    padding: 8px 40px 8px 60px;
	    transition: all 0.3s ease;
	    font-family: 'ToyotaText-Bold';
	    border: 2px solid #eb0a1e;
	    text-align: center;
	    margin: 0 10px;
	    text-transform: uppercase;
	    &:hover{
	    	box-shadow: 0 0 10px rgba(235, 10, 30, 0.5)
	    }
	}
}

.main-destacado-car{
	padding: 40px 0 40px 0; 
	text-align: center;
	h2{
		text-transform: uppercase;
		font-size: 24px;
		margin: 0 0 30px 0;
		padding: 0 20px;
	}
}

.card-destacado{
	text-align: left;
	figure{
		display: block;
		margin: 0 0 25px 0;
		img{
			width: 100%;
		}
	}
	h5{
		font-size: 17px;
		display: block;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	p{
		line-height: 20px;
    	font-size: 15px;
	}
}
.download-icon{
	background: url('../img/background/icon-download.svg') no-repeat center left;
	background-size: 19px;
	display: inline-block;
	color: #000;
	vertical-align: top;
	padding: 0 28px;
	font-size: 18px;
	font-family: 'ToyotaText-Bold';
	margin-bottom: 30px;
	&:hover{
		color: #eb0a1e;
	}
}

.accordion-detalles{
	width: 100%;
	clear: both;
	text-align: left;
	max-width: 700px;
	margin: 0 auto;
	display: block;
	h3{
		background-color: #666666;
		padding: 8px 25px 8px 30px;
		text-transform: uppercase;
		font-family: 'Toyota-Text-Regular';
		font-size: 15px;
		color: #fff;
		border-bottom: 2px solid #fff;
		margin: 0;
		cursor: pointer;
		position: relative;
		&:after{
		    font-family: 'ToyotaText-Bold';
		    position: absolute;
		    right: 20px;
		    top: 50%;
		    content: "+";
		    color: #fff;
		    font-size: 20px;
		    margin-top: -12px;
		}
		&.ui-state-active{
			cursor: default;
			&:after{
				content: "-";
			}
		}
		&:focus{
			outline: none;
		}
	}
	@media (max-width: 660px){
		padding: 0 15px;
		h3{
			padding: 12px 15px 12px 20px;
		}
	}
}
.content-detalles-tabs{
	padding: 20px 30px 10px 30px;
	color: #5A5A5A;
	font-size: 14px;
	p{
		line-height: 19px;
	}
	ol{
		list-style: none;
		padding: 0;
		display: block;
		width: 100%;
		li{
			display: block;
		    width: 100%;
		    margin-bottom: 4px;
		    overflow: hidden;
		    padding: 5px 15px;
		    font-size: 13px;
		    background-color: #f9f9f9;
			span{
				float: right;
				font-family: 'ToyotaText-Bold';
			}
			&:hover{
				background-color: #f1f1f1;
			}
		}
	}
	@media (max-width: 660px){
		padding: 20px 0 10px 0;
	}
}
.name-color{
	color: #4B4B4B;
	font-family: 'Toyota-Text-Regular';
	display: block;
	position: relative;
	font-size: 15px;
	text-transform: uppercase;
}
.tab-video{
	iframe{
		width: 90%;
	    height: 408px;
	    vertical-align: top;
	    display: inline-block;
	    max-width: 725px;
	    margin: 0 auto;
	    border-radius: 5px;
	    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);	
	    @media (max-width: 660px){
	    	height: 182px;
	    }	
	}
}



.sticky-xs-cotizacion{
	background-color: #EB0A1E;
	padding: 10px 15px;
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	text-align: center;
	overflow: hidden;
	display: none;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		li{
			display: inline-block;
			vertical-align: top;
			border-right: 1px solid #fff;
			font-family: 'ToyotaText-Bold';
			padding: 0 20px;
			font-size: 15px;
			a{				
				display: inline-block;
				vertical-align: top;
				color: #fff;
				padding-left: 28px;
			}
			&:last-child{
				border-right: 0;
			}
			&.icon-cotizador{
				a{
					background: url('../img/background/steering-wheel.svg') no-repeat left center;
					background-size: 19px;
				}
			}
			&.icon-car{
				a{
					background: url('../img/background/car-white.svg') no-repeat left center;
					background-size: 19px;
				}
			}
		}
	}
	@media (max-width: 660px){
		display: block;
	}
}